body{
    margin: 0px;
    font-family: Epilogue;
}

a{
    font-size: 1.2vw;
    text-decoration: none;
    color: white;
}

.top_round{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    border-radius: 50%;
    height: 60px;
    min-width: 60px;
    background-color: #D8CCA3;
    border: 1px solid lightgray;
}

.top_round i{
    margin: auto;
    font-size: 30px;
    color: #87805E;
}

.top_container{ 
    text-align: center;
    background-color: #889EAF; 
    align-items: center;
}

.top_container .top_content h1{ 
    font-size: 70px;
    color: #391400;
    font-weight: 800;
    margin-top: 0px;
    padding-top: 6%;
}

.top_container .top_content h4{ 
    padding-bottom: 100px;
    color: #391400;
    margin-bottom: 0px;
}

.nav_container{
    position: sticky;
    top: 0;
    background-color: #889EAF; 
    /* if not z-index below logo with upon it */
    z-index: 1;
    transition: 1s;
}

.nav_container.chg_color{
    background-color: #A0937D; 
    transition: 1s;
}

.nav_container .nav_bar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    align-items: center;
    background-color: #889EAF; 
    transition: 1s;
}

.nav_container .nav_bar.chg_color{
    background-color: #A0937D;  
    transition: 1s;
}

.nav_container .nav_bar .portfolio_box{
    display: flex;
    padding: 10px 0px;
}

.nav_container .nav_bar .portfolio_box h2{
    margin-top: 15px;
    padding-left: 15px;
    color: white;
    font-weight: 700;
    font-size: 30px;
}

.nav_container .nav_bar .portfolio_box h2:hover {
    color: #391400;
}
  
.nav_container .nav_bar a{
    font-size:calc(9px + 0.5vw);
}
  
.nav_container .nav_bar a:hover{
    color: #391400;
    font-weight: bold;
}

.nav_container .nav_bar h4{
    border: rgba(255, 255, 255, 0.5) solid 1px;
    border-radius: 5px;
    padding: 10px 25px;
}

.nav_container .nav_bar h4:hover{
    background-color: #391400;
    color: white;
  }

.nav_container .nav_bar .menu_bar{
    position: absolute;
    right: 10px;
    top: 20px;
    color: white;
    border: rgba(255, 255, 255, 0.5) solid 1px;
    border-radius: 5px;
    padding: 10px;
    display: none;
}

.nav_container .nav_bar .menu_bar:hover{
    background-color:#391400;;
}

.nav_container .nav_bar .menu_content{
    display: none;
    flex-direction: column;
    padding: 10px;
    border: white solid 2px;
    border-radius: 5px;
    position: absolute;
    right: -30px;
    top: 60px;
    background-color: rgba(215, 151, 113, 0.9);
}

.nav_container .nav_bar .menu_content a{
    border-bottom: white solid 2px;
    border-radius: 5px;
    padding: 10px;
    font-size: small;
    color: #391400;
    font-weight: 700;
}

.nav_container .nav_bar .menu_content a:hover{
    background-color: white;
}

@media screen and (max-width: 800px) {
    .nav_container .nav_bar a{
        display: none;
    }

    .nav_container .nav_bar .portfolio_box a,
    .nav_container .nav_bar .menu_bar, 
    .nav_container .nav_bar .menu_content a
    {
        display: flex;
    }
}

@media screen and (min-width: 801px) {
    .nav_container .nav_bar .menu_content
    {
        display: none !important;
    }
}

@media screen and (max-width: 480px) {
    .top_container .top_content h1{ 
        font-size: 15vw;
    }
}

.secondary_container{
    display: flex;
    flex-direction: column;
    background-color: #F3D5C0;
}

.secondary_container .img_container{
    max-width: 90%;
    margin: auto;
    padding: 30px;
}

.secondary_container .img_container img{
    min-width: 240px;
    max-width: 100%;
}

.secondary_container .content_container{
    max-width: 500px;
    margin: auto;
    text-align: left;
    padding: 10px 50px 50px 50px;
}

.secondary_container .content_container h4{
    font-weight: 700;
    color: #EF6D58;
    font-size: 15px;
}

.secondary_container .content_container h1{
    font-weight: 900;
    color: #391400;
    font-size: 50px;
    margin-top: 0px;
}

.secondary_container .content_container p{
    font-weight: 300;
    color: #391400;
    line-height: 1.6;
    text-align: justify;
}

.secondary_container .experience_practices_container{
    display: flex;  
    justify-content: center;
    margin: auto;
    padding: 20px;
}

.secondary_container .experience_practices_container .inside_box{
    padding: 2% 3%;
    min-width: 50%;
    border-top :1px solid #391400;
    border-right: 1px solid #391400;
    border-bottom: 1px solid #391400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.secondary_container .experience_practices_container .inside_box.right{
    border-right: none;
    border-left: 1px solid #391400;
}

.secondary_container .experience_practices_container .inside_box:hover{
    background-color: #FDF0E9;
}

.secondary_container .experience_practices_container .inside_box .round{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    min-width: 110px;
    height: 110px;
    background-color: #9C3D54;
}

.secondary_container .experience_practices_container .inside_box .content_box{
    display: block;
    padding-left: 20px;
}

.secondary_container .experience_practices_container .inside_box .round i{
    margin: auto;
    color: white;
    font-size: 50px;
}


.secondary_container .autobiography{
    max-width: 570px;
    margin: auto;
    margin-top: 10px;
    text-align: left;
    padding: 20px 50px;
}

.secondary_container .autobiography h4{
    font-weight: 700;
    color: #EF6D58;
    font-size: 15px;
}

.secondary_container .autobiography h1{
    font-weight: 900;
    color: #391400;
    font-size: 50px;
    margin: 0px;
}

.secondary_container .autobiography p{
    max-width: 500px;
    margin: auto;
    font-weight: 300;
    color: #391400;
    line-height: 1.6;
    text-align: justify;
    padding: 20px 0;
}

.secondary_container .autobiography .school_container{
    margin: auto;
}

.secondary_container .autobiography .school_container img{
    min-width: 255px;
    max-width: 100%;
}

.secondary_container .autobiography .text_container p{
    max-width: 500px;
    margin: auto;
    font-weight: 300;
    color: #391400;
    line-height: 1.6;
    text-align: justify;
    padding: 20px 0;
}

.secondary_container .life_quotes_container{
    max-width: 570px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
}

.secondary_container .life_quotes_container h4{
    font-weight: 700;
    color: #EF6D58;
    font-size: 15px;
}


.secondary_container .life_quotes_container i{
    font-size: 80px;
    color: rgba(255, 255, 255, 0.5);
    display: inline;
}

.secondary_container .life_quotes_container h1{
    font-weight: 900;
    color: #391400;
    font-size: 45px;
    margin: 0px;
    display: inline;
    line-height: 1.5;
}

.secondary_container .life_quotes_container h1.move_up{
    padding-bottom: 20px;
    display: flex;
}

.secondary_container .logo_container{
    display: flex;
    justify-content: space-around;
    margin: auto;
    min-width: 90%;
    opacity: 0.7;
    
    padding: 30px 20px;
}

.secondary_container .footer_upon{
    background-color: #D4B499;
    padding: 50px 30px;
}

.secondary_container .footer_upon .get_started_container{
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.secondary_container .footer_upon .get_started_container .left_box{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    padding-bottom: 20px;
}

.secondary_container .footer_upon .get_started_container .left_box h4{
    font-weight: 700;
    color: #EF6D58;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 2px;
}

.secondary_container .footer_upon .get_started_container .left_box h1{
    font-weight: 900;
    color: #391400;
    font-size: calc(15px + 1.5vw);
    margin: 0px;
    display: inline;
    line-height: 1.5;
    margin-bottom: 10px;
}

.secondary_container .footer_upon .get_started_container .left_box .btn{
    background-color: #9C3D54;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #9C3D54;
    width: 98px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.secondary_container .footer_upon .get_started_container .left_box .btn:hover{
    box-shadow: 3px 3px 10px #391400;
}

.secondary_container .footer_upon .get_started_container .special_box{
    display: flex;
    flex-direction: row; 
    margin: auto;  
    width: 60%;
}

.secondary_container .footer_upon .get_started_container .special_box p{
    max-width: 50%;
    color: #391400;
    margin: auto;
    font-weight: 300;
    font-size: calc(10px + 1vw);
    padding-right: 30px;
    line-height: 20px;
}

.secondary_container .footer_upon .get_started_container .special_box img{
    max-width: 50%;
    min-width: 270px;
    color: #391400;
    border-radius: 50px;
    padding-left: 10px;
}


@media screen and (max-width: 880px) {
    .secondary_container .experience_practices_container{
        flex-wrap: wrap;
    }

    .secondary_container .experience_practices_container .inside_box{
        width: 60%;
        min-width: 300px;
        border-right: none;
        justify-content: left;
    }

    .secondary_container .experience_practices_container .inside_box.right{
        border-left: none;
    }
}

@media screen and (max-width:700px) {
    .secondary_container .life_quotes_container h1{
        font-size: 5.6vw;
    }

    
    .secondary_container .life_quotes_container i{
        font-size: 10.5vw;

    }

    .secondary_container .life_quotes_container{
        max-width: 500px;
    }

    .secondary_container .logo_container img{
        width: 10vw;
        min-width: 90px;
    }

    .secondary_container .footer_upon .get_started_container .left_box h1{
        font-size: calc(15px + 2.2vw);
    }
    
    .secondary_container .footer_upon .get_started_container .left_box .btn{
        width: 98px;
    }

    .secondary_container .footer_upon .get_started_container .special_box{
        flex-direction: column; 
    }
    
    .secondary_container .footer_upon .get_started_container .special_box p{
        max-width: 90%;
        padding-right: 0px;
        margin-bottom: 30px;
        font-size: calc(13px + 1vw);
    }
    
    .secondary_container .footer_upon .get_started_container .special_box img{
        max-width: 90%;
        padding: 0px;
        margin: auto;
    }
}

@media screen and (max-width: 580px) { 
    .secondary_container .content_container h1{
        font-size: 10vw;
    }

    .secondary_container .autobiography{
        min-width: 50%;
        padding-right: 20px;
        padding-left: 20px;
    }

    .secondary_container .autobiography h1{
        font-size: 10vw;
    }

    .secondary_container .life_quotes_container{
        max-width: 410px;
    }

    .secondary_container .life_quotes_container h1{
        font-size: 5.2vw;
    }

    .secondary_container .logo_container{
        flex-wrap: wrap;
        min-width: 75%;
    }

    .secondary_container .logo_container img{
        width: 22vw;
        min-width: 90px;
    }

    .secondary_container .footer_upon{
        padding: 20px 10px;
    }

    .secondary_container .footer_upon .get_started_container{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .secondary_container .footer_upon .get_started_container .left_box{
        min-width: 100%;
        margin: auto;
        padding: 0px;
    }
    .secondary_container .footer_upon .get_started_container .left_box h1{
        font-size: 5vw;
    }

    .secondary_container .footer_upon .get_started_container .special_box{
        flex-direction: column-reverse; 
        width: 100%;
        padding-top: 20px;
    }

    .secondary_container .footer_upon .get_started_container .special_box p{
        min-width: 90%;
        padding: 20px 0px;
    }
    
    .secondary_container .footer_upon .get_started_container .special_box img{
        min-width: 90%;
        margin: auto;
        padding: 20px 0px;
    }
}

@media screen and (max-width: 400px) { 
    .secondary_container .content_container{
        min-width: 80%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .secondary_container .experience_practices_container{
        max-width: 85%;
    }

    .secondary_container .experience_practices_container .inside_box{
        min-width: 280px;
    }

    .secondary_container .experience_practices_container .inside_box .round{
        min-width: 100px;
        height: 100px;
    }

    .secondary_container .experience_practices_container .inside_box .content_box{
        max-width: 70%;
    }

    .secondary_container .life_quotes_container{
        padding: 0px 20px 0px 40px;
    }

    .secondary_container .life_quotes_container h1{
        font-size: 6vw;
    }
    
    .secondary_container .footer_upon .get_started_container{
        min-width: 95%;
    }

    .secondary_container .footer_upon .get_started_container .left_box h1{
        font-size: calc(20px + 1.5vw);
    }

    .secondary_container .footer_upon .get_started_container .special_box{
        flex-direction: column-reverse; 
        width: 100%;
    }
    
    .secondary_container .footer_upon .get_started_container .special_box p{
        max-width: 100%;
        padding-bottom: 0px;
        margin-bottom: 20px;
    }
    
    .secondary_container .footer_upon .get_started_container .special_box img{
        margin-bottom: 10px;
        padding-bottom: 0px;
        max-width: 100%;
    }
}



.footer_container{
    background-color: #506D84;
}

.footer_container .bottom_container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer_container .bottom_container .left_box{
    padding: 20px 20px;
}

.footer_container .bottom_container .left_box h4{
    color: rgba(255, 255, 255, 0.64);
    font-weight: 400;
    line-height: 32px;
}

.footer_container .bottom_container .right_box{
    padding: 20px 20px;
    display: flex;
    align-items: center;
}

.footer_container .bottom_container .right_box a{
    color:white;
    display: block;
    padding-bottom: 10px;
    font-size: large;
}

.footer_container .bottom_container .right_box .inside_box{
    display: flex;
}

.footer_container .bottom_container .right_box .inside_box .round{
    border-radius: 50%;
    height: 50px;
    min-width: 50px;
    background-color: #9C3D54;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: white;
    cursor: pointer;
}

.footer_container .bottom_container .right_box .inside_box .round:hover{
    box-shadow: 0px 0px 10px white;
}

.footer_container .bottom_container .right_box .inside_box .round i{
    padding-right: 0px;
    padding-bottom: 0px;
}

@media screen and (max-width: 800px) {
    .footer_container .bottom_container{
        flex-direction: column-reverse;
    }

    .footer_container .bottom_container .left_box{
        margin: auto;
        padding-top: 0px;
        text-align: center;
    }

    .footer_container .bottom_container .right_box{
        margin: auto;
        padding-bottom: 0px;
        padding-top: 50px;
    }
}