html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: Epilogue;
}

a {
  font-size: 1.2vw;
  text-decoration: none;
  color: white;
}

.top_round{
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  border-radius: 50%;
  height: 60px;
  min-width: 60px;
  background-color: #D8CCA3;
  border: 1px solid lightgray;
}

.top_round:hover{
  box-shadow: 0px 0px 5px #391400;
}

.top_round i{
  margin: auto;
  font-size: 30px;
  color: #87805E;
}

.top_container {
  text-align: center;
  background-color: #889eaf;
  align-items: center;
}

.top_container .top_content h1 {
  font-size: 70px;
  font-size: calc(30px + 2.5vw);
  font-weight: 800;
  margin-top: 0px;
  padding-top: 20px;
}

.top_container .top_content h4 {
  padding: 0px 5px 50px 5px;
  color: #391400;
  margin-bottom: 0px;
  font-size: 20px
}

.nav_container {
  position: sticky;
  top: 0;
  background-color: #889eaf;
  transition: 1s;
  z-index: 2;
}

.nav_container.chg_color{
  background-color: #A0937D; 
  transition: 1s;
}

.nav_container .nav_bar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: auto;
  align-items: center;
  background-color: #889eaf;
  transition: 1s;
}

.nav_container .nav_bar.chg_color{
  background-color: #A0937D;  
  transition: 1s;
}

.nav_container .nav_bar .portfolio_box {
  display: flex;
  padding: 10px 0px;
}

.nav_container .nav_bar .portfolio_box h2 {
  margin-top: 15px;
  padding-left: 15px;
  color: white;
  font-weight: 700;
  font-size: 30px;
}

.nav_container .nav_bar .portfolio_box h2:hover {
  color: #391400;
}

.nav_container .nav_bar a{
  font-size:calc(9px + 0.5vw);
}

.nav_container .nav_bar a:hover{
  color: #391400;
  font-weight: bold;
}

.nav_container .nav_bar h4 {
  border: rgba(255, 255, 255, 0.5) solid 1px;
  border-radius: 5px;
  padding: 10px 25px;
  padding-top: 12px;
  margin: 0px;
}

.nav_container .nav_bar h4:hover{
  background-color: #391400;
  color: white;
}

.nav_container .nav_bar .menu_bar {
  position: absolute;
  right: 10px;
  top: 20px;
  color: white;
  border: rgba(255, 255, 255, 0.5) solid 1px;
  border-radius: 5px;
  padding: 10px;
  display: none;
}

.nav_container .nav_bar .menu_bar:hover{
  background-color:#391400;
}

.nav_container .nav_bar .menu_content {
  display: none;
  flex-direction: column;
  padding: 10px;
  border: white solid 2px;
  border-radius: 5px;
  position: absolute;
  right: -30px;
  top: 60px;
  background-color: rgba(215, 151, 113, 0.9);
}

.nav_container .nav_bar .menu_content a {
  border-bottom: white solid 2px;
  border-radius: 5px;
  padding: 10px;
  font-size: small;
  color: #391400;
  font-weight: 700;
}

.nav_container .nav_bar .menu_content a:hover {
  background-color: white;
}



@media screen and (max-width: 800px) {
  .nav_container .nav_bar a {
    display: none;
  }

  .nav_container .nav_bar .portfolio_box a,
  .nav_container .nav_bar .menu_bar,
  .nav_container .nav_bar .menu_content a {
    display: flex;
  }
}

@media screen and (min-width: 800px) {
  .nav_container .nav_bar .menu_content {
    display: none !important;
  }
}

.second_container {
  background-color: #f3d5c0;
  min-height: 700px;
}

.second_container .map_container {
  /* background-image: url("../images/location.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 30px; */
  display: grid;
  grid-template-columns: 1fr;
}

.second_container .map_container div{
  /* padding: 50px; */
  grid-row-start: 1;
  grid-column-start: 1;
}

.second_container .map_container iframe{
  width: 100%;
  height: 100%;
}

.second_container .mobl_map_view iframe {
  display: none;
  width: 100%;
  height: 400px;
  margin: auto;
  padding-top: 20px;
}

.second_container .map_container .contact_form {
  background-color: white;
  max-width: 300px;
  padding: 50px 50px 10px 50px;
  margin: 5% 80px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px #391400;
  z-index: 1;
}

.second_container .map_container .contact_form h2 {
  margin: 10px 0px;
  font-size: calc(17px + 1.5vw);
  color: #391400;
  font-weight: 700;
}

.second_container .map_container .contact_form form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.second_container .map_container .contact_form form input[type="email"] {
  border: #f3d5c0 solid 1px;
  border-radius: 5px;
  padding: 4%;
  margin: 3%;
  width: 265px;
}

.second_container .map_container .contact_form form textarea {
  border: #f3d5c0 solid 1px;
  border-radius: 5px;
  padding: 4%;
  margin: 3%;
  width: 265px;
  height: 100px;
  resize: none;
}

.second_container .map_container .contact_form form input[type="submit"] {
  width: fit-content;
  padding: 10px 20px;
  margin: 10% 10%;
  border: #f3d5c0 solid 1px;
  border-radius: 5px;
  color: white;
  background-color: #9c3d54;
  font-size: 15px;
  cursor: pointer;
}

.second_container .map_container .contact_form form input[type="submit"]:hover {
  box-shadow: 3px 3px 10px #391400;
}

.second_container .map_container .contact_form form select {
  border: #f3d5c0 solid 1px;
  border-radius: 5px;
  padding: 3%;
  margin: 3%;
  width: 290px;
}

.second_container .below_container {
  display: flex;
  flex-direction: row;
  max-width: 90%;
  margin: auto;
}

.second_container .below_container a{
  font-size: large;
  width: 33%;
}

.second_container .below_container a .detail_box {
  max-width: 90%;
  text-align: left;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 30px;
  height: 150px;
}

.second_container .below_container a .detail_box.email h3{
  word-wrap: break-word;
}

.second_container .below_container a .detail_box:hover {
  background-color: #f5ebe4;
}

.second_container .below_container a .detail_box h3 {
  color: #391400;
  font-weight: 500;
  font-size: 16px;
}

.second_container .below_container a .detail_box .round_counter {
  display: flex;
  flex-direction: row;
}

.second_container .below_container a .detail_box .round_counter .round {
  border-radius: 50%;
  height: 60px;
  min-width: 60px;
  background-color: #9c3d54;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  color: white;
}

.second_container .below_container a .detail_box .round_counter h4 {
  color: #ef6d58;
  font-weight: 500;
  font-size: 15px;
}

@media screen and (max-width: 1070px) {
  .second_container .map_container .contact_form {
    opacity: 0.5;
  }

  .second_container .map_container .contact_form:hover{
    opacity: 1;
  }
}

@media screen and (max-width: 720px) {
  .second_container .map_container iframe {
    display: none;
  }

  .second_container .mobl_map_view iframe {
    display: flex;
  }

  .second_container .map_container {
    padding-top: 20px;
  }

  .second_container .map_container .contact_form {
    margin: auto;
    max-width: 300px;
    box-shadow: none;
    opacity: 1;
  }

  .second_container .map_container .contact_form form input[type="submit"] {
    font-size: 15px;
  }

  .second_container .below_container {
    flex-wrap: wrap;
  }

  .second_container .below_container a{
    width: 90%;
  }

  .second_container .below_container a .detail_box {
    margin-bottom: 10px;
    height: fit-content;
  }
}

@media screen and (max-width: 480px) {
  .second_container .map_container{
    padding: 30px 10px;
  }

  .second_container .mobl_map_view iframe {
    padding-top: 0px;
  }

  .second_container .map_container .contact_form form input[type="email"] {
      width: 90%;
  }

  .second_container .map_container .contact_form form select {
      width: 99%
  }

  .second_container .map_container .contact_form form textarea {
      width: 90%;
  }

  .second_container .map_container .contact_form{
      min-width: 60%;
      padding: 20px;
  }
  
  .second_container .map_container .contact_form form input[type="submit"] {
    font-size: 2.5vw;
  }

  .second_container .below_container .detail_box {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0px;
    width: 85%;
    height: 110px
  }
}

.footer_container{
  background-color: #506D84;
}

.footer_container .bottom_container{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer_container .bottom_container .left_box{
  padding: 20px 20px;
}

.footer_container .bottom_container .left_box h4{
  color: rgba(255, 255, 255, 0.64);
  font-weight: 400;
  line-height: 32px;
}

.footer_container .bottom_container .right_box{
  padding: 20px 20px;
  display: flex;
  align-items: center;
}

.footer_container .bottom_container .right_box a{
  color:white;
  display: block;
  padding-bottom: 10px;
  font-size: large;
}

.footer_container .bottom_container .right_box .inside_box{
  display: flex;
}

.footer_container .bottom_container .right_box .inside_box .round{
  border-radius: 50%;
  height: 50px;
  min-width: 50px;
  background-color: #9C3D54;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: white;
  cursor: pointer;
}

.footer_container .bottom_container .right_box .inside_box .round:hover{
  box-shadow: 0px 0px 10px white;
}

.footer_container .bottom_container .right_box .inside_box .round i{
  padding-right: 0px;
  padding-bottom: 0px;
}

@media screen and (max-width: 800px) {
  .footer_container .bottom_container{
      flex-direction: column-reverse;
  }

  .footer_container .bottom_container .left_box{
      margin: auto;
      padding-top: 0px;
      text-align: center;
  }

  .footer_container .bottom_container .right_box{
      margin: auto;
      padding-bottom: 0px;
      padding-top: 50px;
  }
}