html {
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    font-family: Epilogue;
}

a{
    font-size: 1.2vw;
    text-decoration: none;
    color: white;
}

.top_round{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    border-radius: 50%;
    height: 60px;
    min-width: 60px;
    background-color: #D8CCA3;
    border: 1px solid lightgray;
}

.top_round:hover{
    box-shadow: 0px 0px 5px #391400;
}

.top_round i{
    margin: auto;
    font-size: 30px;
    color: #87805E;
}

.nav_container{
    position: sticky;
    top: 0;
    background-color: #506D84; 
    z-index: 2;
    transition: 1s;
}

.nav_container.chg_color{
    background-color: #A0937D; 
    transition: 1s;
}

.nav_container .nav_bar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    align-items: center;
    background-color: #506D84; 
    transition: 1s;
}

.nav_container .nav_bar.chg_color{
    background-color: #A0937D;  
    transition: 1s;
}

.nav_container .nav_bar .portfolio_box{
    display: flex;
    padding: 10px 0px;
}


.nav_container .nav_bar .portfolio_box a{
    margin: auto;
    padding-left: 15px;
    color: white;
    font-weight: 700;
    font-size: 30px;
    height: fit-content;
}

.nav_container .nav_bar .portfolio_box a:hover {
    color: #391400;
}

.nav_container .nav_bar a{
    font-size:calc(9px + 0.5vw);
}

.nav_container .nav_bar a:hover{
    color: #391400;
}

.nav_container .nav_bar h4{
    border: rgba(255, 255, 255, 0.5) solid 1px;
    border-radius: 5px;
    padding: 10px 25px;
    padding-top: 12px;
    margin: 0px;
}

.nav_container .nav_bar h4:hover{
    background-color: #391400;
    color: white;
}

.nav_container .nav_bar .menu_bar{
    position: absolute;
    right: 10px;
    top: 20px;
    color: white;
    border: rgba(255, 255, 255, 0.5) solid 1px;
    border-radius: 5px;
    padding: 10px;
    display: none;
}

.nav_container .nav_bar .menu_bar:hover{
    background-color:#391400;;
  }

.nav_container .nav_bar .menu_content{
    display: none;
    flex-direction: column;
    padding: 10px;
    border: white solid 2px;
    border-radius: 5px;
    position: absolute;
    right: -30px;
    top: 60px;
    background-color: rgba(255, 200, 199, 0.8);
}

.nav_container .nav_bar .menu_content a{
    border-bottom: white solid 2px;
    border-radius: 5px;
    padding: 10px;
    font-size: small;
    color: #391400;
    font-weight: 700;
}

.nav_container .nav_bar .menu_content a:hover{
    background-color: #9C3D54;
}

.top_container{ 
    background-color: #506D84
}

.top_container .content_container{ 
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 90%;
    padding: 20px 10px 50px 10px;
}

.top_container .content_container .left_box{ 
    max-width: 40%;
    display: flex;
    flex-direction: column;
}

.top_container .content_container .left_box a{ 
    max-width: fit-content;
}

.top_container .content_container .left_box h4{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EF6D58;
}

.top_container .content_container .left_box h1{
    font-style: normal;
    font-weight: 800;
    font-size: calc(20px + 2.5vw);
    line-height: 4vw;
    color: #391400;
    letter-spacing: -2px;
    margin: 5px 0px;
}

.top_container .content_container .left_box p{
    font-style: normal;
    font-weight: 400;
    font-size: calc(10px + 1vw);
    line-height: 30px;
    color: rgba(255, 255, 255, 0.64);
    text-align: justify;
}

.top_container .content_container .left_box .btn{ 
    width: fit-content;
    border-radius: 5px;
    background-color: #9C3D54;
    padding: 15px 20px;  
    padding-top: 17px;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF; 
    cursor: pointer;
}

.top_container .content_container .left_box .btn:hover{ 
    box-shadow: 0px 0px 10px white;
}

.top_container .content_container .right_box{ 
    max-width: 50%;
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.top_container .content_container .right_box img{ 
    max-width: 500px;
    min-width: 250px;
    border-radius: 50px;
}

.second_container{
    background-color: #FDF0E9;
}

.second_container .content_container{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 90%;
    padding: 50px 10px 40px 10px;
}

.second_container .content_container .left_box{
    max-width: 50%;
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.second_container .content_container .left_box img{ 
    max-width: 500px;
    min-width: 250px;
    border-radius: 25px;
    max-height: 650px;
}

.second_container .content_container .right_box{ 
    max-width: 45%;
    display: flex;
    flex-direction: column;
}

.second_container .content_container .right_box a{ 
    max-width: fit-content;
}

.second_container .content_container .right_box h4{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EF6D58;
}

.second_container .content_container .right_box h1{
    font-style: normal;
    font-weight: 800;
    font-size: calc(20px + 2.5vw);
    line-height: 6vw;
    color: #391400;
    letter-spacing: -2px;
    margin: 10px 0px;
}

.second_container .content_container .right_box p{
    font-style: normal;
    font-weight: 400;
    font-size: calc(10px + 1vw);
    line-height: 30px;
    text-align: justify;
    color: rgba(57, 20, 0, 0.64);
    padding-bottom: 20px;
}

.second_container .content_container .right_box .btn{ 
    width: fit-content;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 15px 20px;  
    padding-top: 17px;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #391400; 
    cursor: pointer;
    box-shadow: 5px 5px 20px lightgray;
}

.second_container .content_container .right_box .btn:hover{ 
    background-color: #391400;
    color: white;
}

.second_container .bottom_container{ 
    max-width: 72%;
    margin: auto;
    padding: 5px 0px 30px 0px;
    display: flex;
    justify-content: center;
} 

.second_container .bottom_container .inside_box{
    padding: 2% 3%;
    min-width: 50%;
    border :1px solid #F3D1BF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.second_container .bottom_container .inside_box .round{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    min-width: 110px;
    height: 110px;
    background-color: #9C3D54;
}

.second_container .bottom_container .inside_box .round i{
    margin: auto;
    color: white;
    font-size: 50px;
}

.second_container .bottom_container .inside_box .content_box{
    display: block;
    padding: 0px 20px;
    min-width: 50%;
}

.third_container{
    background-color: #506D84;
}

.third_container .content_container{
    margin: auto;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0px;
}

.third_container .content_container .left_box{
    max-width: 45%;
    height: 500px;
    margin: auto;
    display: block;
    justify-content: left;
    background: rgba(0,0,0,0.4) url(../images/home_page_life.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -10px;
    background-blend-mode: darken;
    border-radius: 20px;
    padding-right: 10px;
}

.third_container .content_container .left_box h4{
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EF6D58;
    margin: 20px 0px 0px 20px;
}

.third_container .content_container .left_box i{
    font-size: 80px;
    color: rgba(255, 255, 255, 0.7);
    display:inline-block;
    vertical-align:middle;
}

.third_container .content_container .left_box h1{
    font-weight: 900;
    color: white;
    font-size: 2.5vw;
    margin: 0px 0px 0px 20px;
    display:inline-block;
    vertical-align:middle;
    max-width: 80%;
}

.third_container .content_container .right_box{
    max-width: 45%;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: rgba(0,0,0,0.4) url(../images/home_page_life_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -20px;
    background-blend-mode: darken;
    border-radius: 20px;
    padding-right: 10px;
}


.third_container .content_container .right_box i{
    font-size: 80px;
    color: rgba(255, 255, 255, 0.7);
    display:inline;
    vertical-align:middle;
}

.third_container .content_container .right_box h1{
    font-weight: 900;
    color: white;
    font-size: 2.5vw;
    margin-left: 20px;
    display:inline-block;
    vertical-align:middle;
    max-width: 90%;
}

.third_container .footer_upon{
    background-color: #D4B499;
    padding: 50px 30px;
}

.third_container .footer_upon .get_started_container{
    max-width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.third_container .footer_upon .get_started_container .left_box{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    padding-bottom: 20px;
}

.third_container .footer_upon .get_started_container .left_box h4{
    font-weight: 700;
    color: #EF6D58;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 2px;
}

.third_container .footer_upon .get_started_container .left_box h1{
    font-weight: 900;
    color: #391400;
    font-size: calc(15px + 1.5vw);
    margin: 0px;
    display: inline;
    line-height: 1.5;
    margin-bottom: 10px;
}

.third_container .footer_upon .get_started_container .left_box .btn{
    background-color: #9C3D54;
    padding: 10px 20px;
    padding-top: 12px;
    border-radius: 5px;
    border: 1px solid #9C3D54;
    width: 98px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.third_container .footer_upon .get_started_container .left_box .btn:hover{
    box-shadow: 3px 3px 10px #391400;
}

.third_container .footer_upon .get_started_container .special_box{
    display: flex;
    flex-direction: row; 
    margin: auto;  
    width: 60%;
}

.third_container .footer_upon .get_started_container .special_box p{
    max-width: 50%;
    color: #391400;
    margin: auto;
    font-weight: 300;
    font-size: calc(10px + 1vw);
    padding-right: 30px;
}

.third_container .footer_upon .get_started_container .special_box img{
    max-width: 50%;
    min-width: 270px;
    color: #391400;
    border-radius: 50px;
    padding-left: 10px;
}

.four_container{
    background-color: #FDF0E9;
    padding-bottom: 30px 
}

.four_container .content_container{
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 20px 10px;
}

.four_container .content_container .left_box{
    max-width: 50%;
    display: block;
    margin: auto;
}

.four_container .content_container .left_box .each_work{
    min-height: 25%;
    display: block;
    text-align: center;
    padding: 0px 10px;
    text-align: left;
}

.four_container .content_container .left_box .each_work h1{
    font-weight: 800;
    color: #391400;
    margin-bottom: 5px
}

.four_container .content_container .left_box .each_work img{
    width: 99%;
}

.four_container .content_container .right_box{
    max-width: 45%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.four_container .content_container .right_box a{
    max-width: fit-content;
}

.four_container .content_container .right_box h1{
    font-weight: 900;
    font-size: calc(20px + 2.5vw);
    color: #391400;
    margin-bottom: 20px;
}

.four_container .content_container .right_box h4{
    font-weight: 700;
    color: #EF6D58;
    font-size: 15px;
    margin: 20px 0px;
}

.four_container .content_container .right_box h2{
    max-width: 80%;
    font-weight: 900;
    color: #391400;
    font-size: 25px;
    margin: 0px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.four_container .content_container .right_box p{
    color: rgba(57, 20, 0, 0.64);
    margin: auto;
    font-size: calc(10px + 1vw);
    font-weight: 400;
    text-align: justify;
    line-height: 30px;
    padding-bottom: 30px;
}

.four_container .content_container .right_box .btn{
    width: fit-content;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 10px 15px;  
    padding-top: 12px;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #391400; 
    cursor: pointer;
    box-shadow: 5px 5px 20px lightgray;
}

.four_container .content_container .right_box .btn:hover{
    background-color: #391400; 
    color: white;
}

.fifth_container{
    background-color: #506D84;
}

.fifth_container .content_container{
    max-width: 90%;
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

.fifth_container .content_container .above_container{
    max-width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.fifth_container .content_container .above_container .left_box{
    padding: 50px 0px 10px 0px;
    width: 90%;
}

.fifth_container .content_container .above_container .left_box h4{
    font-weight: 700;
    color: #EF6D58;
    font-size: 15px;
    margin: 20px 0px;
}

.fifth_container .content_container .above_container .left_box h1{
    font-weight: 800;
    color: #FFFFFF;
    margin: 20px 0px;
    font-size: 40px;
}

.fifth_container .content_container .right_box{
    max-width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px 20px 30px 0px;
}

.fifth_container .content_container .right_box .btn{
    border-radius: 5px;
    border: 1px solid white;
    padding: 15px 20px;
    padding-top: 17px;
    color: #FFFFFF;
    text-transform: capitalize;
    font-size: 13px;
    cursor: pointer;
}

.fifth_container .content_container .right_box .btn:hover{
    background-color: #391400;
    color: #FFFFFF;
    border: 1px solid #391400;
}


.fifth_container .content_container .below_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
}

.fifth_container .content_container .below_container .border{
    width: 50%;
    min-width: 30%;
    padding: 10px;
}

.fifth_container .content_container .below_container .border .each_img{
    min-height: 300px;
    padding: 40px;
    background-color: lightgray;
    color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;
    z-index: 1;
}

.fifth_container .content_container .below_container .border .each_img:hover{
    box-shadow: 5px 5px 10px #391400;
    transform: scale(1.1);
 }

.fifth_container .content_container .below_container .border .each_img h1{
    font-size: 2.5vw;
}

.fifth_container .inside_container{
    position: fixed;
    top: 7%;
    left: 10%;
    width: 0%;
    max-height: 90%;
    background-color: rgba(150, 149, 146, 0.8);
    display: flex;
    flex-direction: column;  
    border-radius: 10px;
    overflow-y: auto;
    transition: 1s;
    overflow-x: hidden;
    z-index: 3;
}

.fifth_container .inside_container #week_5_bg_1{
    background-image: url(../images/week_5_class_practies.png);
}

.fifth_container .inside_container #week_5_bg_2{
    background-image: url(../images/wk_5_homework_1.png);
}

.fifth_container .inside_container #week_5_bg_3{
    background-image: url(../images/wk_5_homework_2.png);
}

.fifth_container .inside_container #week_5_bg_4{
    background-image: url(../images/wk_5_homework_3.png);
}

.fifth_container .inside_container #week_6_bg_1{
    background-image: url(../images/week_6_exe_1.png);
}

.fifth_container .inside_container #week_6_bg_2{
    background-image: url(../images/week_6_layout_1.png);
}

.fifth_container .inside_container #week_6_bg_3{
    background-image: url(../images/week_6_layout_2.png);
}

.fifth_container .inside_container #week_6_bg_4{
    background-image: url(../images/week_6_layout_3.png);
}

.fifth_container .inside_container #week_6_bg_5{
    background-image: url(../images/week_6_layout_4.png);
}

.fifth_container .inside_container #week_6_bg_6{
    background-image: url(../images/week_6_homework.png);
}

.fifth_container .inside_container #week_7_bg_1{
    background-image: url(../images/week_7_exercise_1.png);
}

.fifth_container .inside_container #week_7_bg_2{
    background-image: url(../images/week_7_exercise_2.png);
}

.fifth_container .inside_container .top_bar{
    display: flex;
    justify-content: space-between;
}

.fifth_container .inside_container .top_bar h1{
    padding: 10px 40px;
    color: #391400;
    font-size: 50px;
    font-weight: 900;
}

.fifth_container .inside_container .top_bar i{
    margin: 20px;
    padding: 10px;
    color: #391400;
    font-size: 40px;
    cursor: pointer;
}

.fifth_container .inside_container .inside_box_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.fifth_container .inside_container .inside_box_container .inside_box{
    width: 280px;
    min-height: 150px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: lightcoral;
    margin: 20px;
    border-radius: 10px;
}

.fifth_container .inside_container .inside_box_container .inside_box:hover{
    box-shadow: 5px 5px 10px 5px #391400;
}

.fifth_container .inside_container .inside_box_container .inside_box .box_btn{
    border-radius: 10px;
    background-color: #D4B499;
    border-radius: 10px;
    padding: 10px 10px;
    width: fit-content;
    color: black;
}


#practice_4{
    background: rgba(0,0,0,0.2) url(../images/practices_4.jpg);
    background-position: -80px;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

#practice_5{
    background: rgba(0,0,0,0.2) url(../images/practices_5.jpg);
    background-position: -80px;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

#practice_6{
    background: rgba(0,0,0,0.2) url(../images/practices_6.jpg);
    background-position: -80px;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}


.fifth_container .content_container .below_container .border .each_img .box_btn{
    border-radius: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    width: fit-content;
    color: black
}

.sixth_container{
    background-color: #F3D5C0;
}

.sixth_container .content_container{
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 20px 10px 50px 0px;
    border-bottom: #F3D1BF solid 1px;
}

.sixth_container .content_container .left_box{
    max-width: 45%;
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    margin: auto;
}

.sixth_container .content_container .left_box a{
    max-width: fit-content
}

.sixth_container .content_container .left_box h1{
    font-weight: 900;
    font-size: calc(20px + 2.5vw);
    color: #391400;
    margin-bottom: 5px;
}

.sixth_container .content_container .left_box h4{
    font-weight: 700;
    color: #EF6D58;
    font-size: 15px;
    margin: 20px 0px;
}


.sixth_container .content_container .left_box p{
    color: rgba(57, 20, 0, 0.64);
    margin: auto;
    font-weight: 400;
    text-align: justify;
    line-height: 30px;
    margin: 5px 0px 30px 0px; 
    font-size: calc(10px + 1vw);
}

.sixth_container .content_container .left_box .btn{
    width: fit-content;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 10px 15px; 
    padding-top: 12px;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #391400; 
    cursor: pointer;
    box-shadow: 5px 5px 20px lightgray;
}

.sixth_container .content_container .left_box .btn:hover{
    background-color: #391400; 
    color: white;
}

.sixth_container .content_container .right_box{
    max-width: 47%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding-top: 30px;
}

.sixth_container .content_container .right_box .inside_box{
    display: flex;
    flex-direction: row;
    
}

.sixth_container .content_container .right_box .inside_box img{
   padding: 10px;
   width: 50%;
}

.sixth_container .content_container .right_box .inside_box img:hover{
    transform: scale(1.2);
    transition: 1s;
}

.seventh_container{
    background-color: #506D84;
}

.seventh_container .content_container{
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.seventh_container .content_container .left_box{
    background-color: white;
    max-width: 50%;
    padding: 40px 40px 0px 40px;
    margin: 5% 0px;
    border-radius: 10px;
}

.seventh_container .content_container .left_box h2 {
    margin: 10px;
    font-weight: 700;
    font-size: 20px;
    color: #391400;
}

.seventh_container .content_container .left_box form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.seventh_container .content_container .left_box form input[type="email"] {
    border: #f3d5c0 solid 1px;
    border-radius: 5px;
    padding: 4%;
    margin: 3%;
    width: 250px;
}

.seventh_container .content_container .left_box form select {
    border: #f3d5c0 solid 1px;
    border-radius: 5px;
    padding: 3%;
    margin: 3%;
    width: 275px;
}

.seventh_container .content_container .left_box form textarea {
    border: #f3d5c0 solid 1px;
    border-radius: 5px;
    padding: 4%;
    margin: 3%;
    width: 250px;
    height: 100px;
    resize: none;
}

.seventh_container .content_container .left_box form input[type="submit"] {
    width: fit-content;
    padding: 10px 20px;
    margin: 10% 10%;
    border: #f3d5c0 solid 1px;
    border-radius: 5px;
    color: white;
    background-color: #9c3d54;
    font-size: 15px;
    cursor: pointer;
}

.seventh_container .content_container .left_box form input[type="submit"]:hover {
    box-shadow: 3px 3px 10px #391400;
}

.seventh_container .content_container .right_box{
    max-width: 50%;
    padding-left: 40px;
    display: block;
    margin: auto;
}

.seventh_container .content_container .right_box h4{
    font-weight: 700;
    color: #EF6D58;
    font-size: 15px;
    margin: 20px 0px;
}

.seventh_container .content_container .right_box h1{
    font-weight: 900;
    font-size: calc(20px + 2vw);
    color: white;
}

.seventh_container .content_container .right_box p{
    color: white;
    font-weight: 400;
    text-align: justify;
    line-height: 1.5;
    word-break: break-all;
    font-size: calc(15px + 0.2vw);
}

.seventh_container .content_container .right_box a{
    font-size: large;
}

.seventh_container .content_container .right_box .round_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
}

.seventh_container .content_container .right_box .round_container:hover{
    background-color: gray;
    border-radius: 20px;
}

.seventh_container .content_container .right_box .round_container .round{
    border-radius: 50%;
    height: 40px;
    min-width: 40px;
    background-color: #9c3d54;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}


.eight_container{
    display: flex;
    flex-direction: row;
}

.eight_container .img_box{
    width: calc(100%/6);
    height: 240px;
}

.eight_container .img_box img{
    width: 100%;
    height: 240px;
}


@media screen and (max-width: 800px) {
    .nav_container .nav_bar a{
        display: none;
    }

    .nav_container .nav_bar .portfolio_box a,
    .nav_container .nav_bar .menu_bar, 
    .nav_container .nav_bar .menu_content a
    {
        display: flex;
    }

    .top_container .content_container{ 
        flex-direction: column-reverse;
    }

    .top_container .content_container .left_box{ 
        max-width: 80%;
        margin: auto;
    }

    .top_container .content_container .left_box h1{
        font-size: calc(25px + 2.5vw);
        line-height: 60px;
    }

    .top_container .content_container .left_box p{
        font-size: calc(13px + 1vw);
    }

    .top_container .content_container .right_box{ 
        max-width: 80%;
        margin: auto;
        padding-left: 0px; 
    }

    .second_container .content_container{ 
        flex-direction: column;
    }

    .second_container .content_container .right_box{ 
        max-width: 80%;
        margin: auto;
    }

    .second_container .content_container .right_box h1{
        font-size: calc(25px + 2.5vw);
        line-height: 60px;
    }

    .second_container .content_container .right_box p{
        font-size: calc(13px + 1vw);
    }

    .second_container .content_container .left_box{ 
        max-width: 80%;
        margin: auto;
        padding-right: 0px; 
    }

    .second_container .bottom_container{ 
        flex-direction: column;
    } 

    .second_container .bottom_container .inside_box{
        justify-content: left;
        padding: 10px 40px;
    }

    .third_container .content_container{
        flex-direction: column-reverse;
    }

    .third_container .content_container .left_box{
        min-width: 500px;
        padding: 20px;
    }

    .third_container .content_container .right_box{
        min-width: 500px;
        padding: 20px;
        margin-bottom: 30px;
    }

    .third_container .content_container .left_box h1{
        font-size: 28px;
    }

    .third_container .content_container .right_box h1{
        font-size: 28px;
    }

    .third_container .footer_upon .get_started_container .special_box{
        flex-direction: column; 
    }

    .third_container .footer_upon .get_started_container .special_box p{
        max-width: 90%;
        padding-right: 0px;
        margin-bottom: 30px;
        font-size: calc(13px + 1vw);
    }

    .third_container .footer_upon .get_started_container .special_box img{
        max-width: 90%;
        padding: 0px;
        margin: auto;
    }

    .third_container .footer_upon .get_started_container .left_box h1{
        font-size: calc(15px + 2.2vw);
    }

    .third_container .footer_upon .get_started_container .left_box .btn{
        width: fit-content;
    }

    .four_container .content_container{
        flex-direction: column-reverse;
    }

    .four_container .content_container .left_box{
        min-width: 90%;
        margin: auto;
    }

    .four_container .content_container .right_box{
        min-width: 90%;
        margin: auto;
        padding-left: 0px;
    }

    .four_container .content_container .right_box h1{
        font-size: 50px;
    }

    .four_container .content_container .right_box p{
        font-size: calc(13px + 1vw);
    }

    .four_container .content_container .left_box .each_work h1{
        margin-top: 50px;
    }

    .fifth_container .content_container .above_container .right_box{
        padding: 20px;
    }

    .fifth_container .content_container .below_container{
        flex-direction: column;
        width: 330px;
        margin: 0px;
        margin: auto;
    }

    .fifth_container .content_container .below_container .border{
        width: 100%;
    }

    .fifth_container .content_container .below_container .border .each_img h1{
        font-size: 30px;
    }

    .sixth_container .content_container{
        flex-direction: column;
    }

    .sixth_container .content_container .right_box{
        max-width: 90%;
        margin: auto;
        padding-top: 10px;
    }

    .sixth_container .content_container .left_box{
        min-width: 90%;
        margin: auto;
        padding-right: 0px;
    }

    .sixth_container .content_container .left_box h1{
        font-size: 50px;
    }

    .seventh_container .content_container{
        max-width: 90%;
        display: block;
        padding: 40px 10px;
    }

    .seventh_container .content_container .left_box{
        margin: auto;
        width: 50%;
        max-width: none;
    }

    .seventh_container .content_container .left_box form input[type="email"] {
        width: 90%;
    }
    
    .seventh_container .content_container .left_box form select {
        width: 99%
    }
    
    .seventh_container .content_container .left_box form textarea {
        width: 90%;
    }

    .seventh_container .content_container .right_box{
        min-width: 80%;
        padding-left: 0px;
    }

    .seventh_container .content_container .right_box h1{
        font-size: 50px;
    }

    .eight_container{
        flex-wrap: wrap;
    }
    
    .eight_container .img_box{
        min-width: 33.3%;
    }

    .eight_container .img_box img{
        min-width: 100.5%;
    }
}

@media screen and (min-width: 801px) {
    .nav_container .nav_bar .menu_content
    {
        display: none !important;
    }
}

@media screen and (max-width: 600px) {
    .third_container .content_container .left_box{
        min-width: 90%;
        padding: 10px;
    }

    .third_container .content_container .left_box h1{
        font-size: calc(18px + 2vw);
        line-height: 50px;
    }

    .third_container .content_container .right_box{
        min-width: 90%;
        padding: 10px;
    }

    .third_container .content_container .right_box h1{
        font-size: calc(18px + 2vw);
        line-height: 50px;
    }

    .third_container .footer_upon{
        padding: 0px 10px 50px 10px;
    }

    .third_container .footer_upon .get_started_container{
        max-width: 95%;
        flex-direction: column-reverse;
    }

    .third_container .footer_upon .get_started_container .special_box{
        flex-direction: column-reverse; 
        width: 100%;
        padding-top: 50px;
    }

    .third_container .footer_upon .get_started_container .special_box img{
        max-width: 100%;
    }

    .third_container .footer_upon .get_started_container .special_box p{
        margin-bottom: 10px;
        padding-bottom: 0px;
        max-width: 100%;
    }

    .third_container .footer_upon .get_started_container .left_box{
        min-width: 100%;
        margin: auto;
        padding: 0px;
    }
    .third_container .footer_upon .get_started_container .left_box h1{
        font-size: calc(20px + 1.5vw);
    }

    .third_container .footer_upon .get_started_container .special_box p{
        min-width: 90%;
        padding: 20px 0px;
    }
    
    .third_container .footer_upon .get_started_container .special_box img{
        min-width: 90%;
        margin: auto;
        padding: 20px 0px;
    }
}

@media screen and (max-width: 480px) {
    .top_container .content_container .left_box{ 
        margin: 0px 10px;
        max-width: 90%;
    }

    .top_container .content_container .left_box h4{
        margin: 10px 0px 0px 0px;
    }

    .top_container .content_container .left_box h1{
        font-size: 11vw;
        line-height: 50px;
    }

    .top_container .content_container .left_box .btn{ 
        font-size: 12px;
    }

    .top_container .content_container .right_box{ 
        margin: 0px 10px;
        max-width: 95%;
    }

    .second_container .content_container .right_box{ 
        margin: 0px 10px;
        max-width: 90%;
    }

    .second_container .content_container .right_box h4{
        margin: 10px 0px 0px 0px;
        font-size: 3.5vw;
    }

    .second_container .content_container .right_box h1{
        font-size: 11vw;
        line-height: 50px;
    }

    .second_container .content_container .right_box .btn{ 
        font-size: 12px;
        padding: 10px;
    }

    .second_container .content_container .left_box{ 
        margin: 0px 10px;
        max-width: 95%;
    }  

    .second_container .bottom_container{
        max-width: 90%;
    }

    .second_container .bottom_container .inside_box{
        padding: 10px 20px;
    }

    .second_container .bottom_container .inside_box .round{
        min-width: 90px;
        height: 90px;
    }

    .second_container .bottom_container .inside_box .content_box h3{
        font-size: 5vw;
    }

    .third_container .content_container .left_box i{
        font-size: 15vw;
    }

    .third_container .content_container .right_box{
        padding: 20px 0px 0px 0px;
    }

    .third_container .footer_upon .get_started_container{
        min-width: 90%;
    }

    .four_container .content_container{
        padding: 20px 0px;
    }

    .four_container .content_container .btn{ 
        font-size: 12px;
        padding: 10px;
    }

    .four_container .content_container .left_box{
        min-width: 100%;
    }

    .four_container .content_container .right_box{
        min-width: 100%;
    }

    .four_container .content_container .right_box h1{
        text-align: left;
        font-size: 11vw;
        line-height: 50px;
    }

    .four_container .content_container .right_box h2{
        min-width: 100%;
    }

    .fifth_container .content_container .above_container{
        flex-direction: column;
    }

    .fifth_container .content_container .above_container .left_box{
        width: 100%;
        padding-bottom: 10px;
    }

    .fifth_container .content_container .above_container .left_box h1{
        font-size: 35px;
    }

    .fifth_container .content_container .above_container .right_box{
        padding-top: 0px;
        padding-right: 0px; 
        display: flex;
        justify-content: right;
        min-width: 90%;
    }

    .fifth_container .content_container .below_container{
        width: 90%;
        padding: 0px;
        margin: 0px;
    }

    .fifth_container .content_container .below_container .border{
        min-width: 90%;
    }

    .fifth_container .inside_container{
        max-width: 90%;
    }

    .fifth_container .inside_container .top_bar{
        max-width: 90%;
    }
    
    .fifth_container .inside_container .top_bar h1{
        font-size: 10vw;
        padding: 10px 25px;
    }

    .fifth_container .inside_container .inside_box_container .inside_box .box_btn{
        font-size: 3vw;
    }

    .fifth_container .inside_container .inside_box_container .inside_box{
        width: 60vw;
    }

    .sixth_container .content_container{
        padding: 20px 0px;
    }

    .sixth_container .content_container .left_box{
        min-width: 100%;
        margin-bottom: 20px;
    }

    .sixth_container .content_container .left_box h1{
        font-size: 11vw;
        line-height: 50px;
        text-align: left;
    }

    .sixth_container .content_container .left_box p{
        font-size: calc(13px + 1vw);
    }

    .sixth_container .content_container .left_box .btn{ 
        font-size: 12px;
        padding: 10px;
    }

    .sixth_container .content_container .right_box .inside_box img{
        padding: 5px;
    }

    .seventh_container .content_container{
        padding-right: 20px;
    }

    .seventh_container .content_container .left_box {
        margin: auto;
        width: 75%;
    }

    .seventh_container .content_container .right_box {
        min-width: 90%;
    }

    .seventh_container .content_container .right_box h1{
        font-size: 11vw;
        line-height: 50px;
    }

    .eight_container .img_box{
        min-width: 50%;
    }

    .eight_container .img_box img{
        min-width: 50%;
    }
}


.footer_container{
    background-color: #506D84;
}

.footer_container .bottom_container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer_container .bottom_container .left_box{
    padding: 20px 20px;
}

.footer_container .bottom_container .left_box h4{
    color: rgba(255, 255, 255, 0.64);
    font-weight: 400;
    line-height: 32px;
}

.footer_container .bottom_container .right_box{
    padding: 20px 20px;
    display: flex;
    align-items: center;
}

.footer_container .bottom_container .right_box a{
    color:white;
    display: block;
    padding-bottom: 10px;
    font-size: large;
}

.footer_container .bottom_container .right_box .inside_box{
    display: flex;
}

.footer_container .bottom_container .right_box .inside_box .round{
    border-radius: 50%;
    height: 50px;
    min-width: 50px;
    background-color: #9C3D54;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: white;
    cursor: pointer;
}

.footer_container .bottom_container .right_box .inside_box .round:hover{
    box-shadow: 0px 0px 10px white;
}

.footer_container .bottom_container .right_box .inside_box .round i{
    padding-right: 0px;
    padding-bottom: 0px;
}

@media screen and (max-width: 800px) {
    .footer_container .bottom_container{
        flex-direction: column-reverse;
    }

    .footer_container .bottom_container .left_box{
        margin: auto;
        padding-top: 0px;
        text-align: center;
    }

    .footer_container .bottom_container .right_box{
        margin: auto;
        padding-bottom: 0px;
        padding-top: 50px;
    }
}