body{
    margin: 0px;
    font-family: Epilogue;
}

a{
    font-size: 1.2vw;
    text-decoration: none;
    color: white;
}

.top_round{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    border-radius: 50%;
    height: 60px;
    min-width: 60px;
    background-color: #D8CCA3;
    border: 1px solid lightgray;
}

.top_round:hover{
    box-shadow: 0px 0px 5px #391400;
}

.top_round i{
    margin: auto;
    font-size: 30px;
    color: #87805E;
}

.top_container{ 
    text-align: center;
    background-color: #F3D5C0; 
    align-items: center;
}

.top_container .top_content{ 
    margin: auto;
    max-width: 60%;
    text-align: left;
    padding: 50px 20px 0px 20px;
}

.top_container .top_content a{ 
    color: #391400;
    font-weight: 800;
    font-size: 20px
}

.top_container .top_content a:hover{ 
    font-size: 22px
}

.top_container .top_content h1{ 
    font-size: calc(20px + 2.5vw);
    color: #391400;
    font-weight: 800;
    margin-top: 0px;
    padding-top: 50px;
    text-align: center;
}

.top_container .top_content h4{ 
    padding-bottom: 20px;
    color: #EF6D58;
    margin-bottom: 0px;
    font-weight: 500;
}

.top_container .top_content p{ 
    text-align: justify;
    font-weight: 300;
    margin-bottom: 0px;
    line-height: 30px;
    padding-bottom: 20px;
    font-size: calc(10px + 1vw);
}

.nav_container{
    position: sticky;
    top: 0;
    background-color: #889EAF; 
    transition: 1s;
}

.nav_container.chg_color{
    background-color: #A0937D; 
    transition: 1s;
}

.nav_container .nav_bar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    align-items: center;
    background-color: #889EAF; 
    transition: 1s;
}

.nav_container .nav_bar.chg_color{
    background-color: #A0937D;  
    transition: 1s;
}

.nav_container .nav_bar .portfolio_box{
    display: flex;
    padding: 10px 0px;
}

.nav_container .nav_bar .portfolio_box h2{
    margin-top: 15px;
    padding-left: 15px;
    color: white;
    font-weight: 700;
    font-size: 30px;
}

.nav_container .nav_bar .portfolio_box h2:hover {
    color: #391400;
}

.nav_container .nav_bar a{
    font-size:calc(9px + 0.5vw);
}
  
.nav_container .nav_bar a:hover{
    color: #391400;
    font-weight: bold;
}

.nav_container .nav_bar h4{
    border: rgba(255, 255, 255, 0.5) solid 1px;
    border-radius: 5px;
    padding: 10px 25px;
}

.nav_container .nav_bar h4:hover{
    background-color: #391400;
    color: white;
  }

.nav_container .nav_bar .menu_bar{
    position: absolute;
    right: 10px;
    top: 20px;
    color: white;
    border: rgba(255, 255, 255, 0.5) solid 1px;
    border-radius: 5px;
    padding: 10px;
    display: none;
}

.nav_container .nav_bar .menu_bar:hover{
    background-color:#391400;;
  }

.nav_container .nav_bar .menu_content{
    display: none;
    flex-direction: column;
    padding: 10px;
    border: white solid 2px;
    border-radius: 5px;
    position: absolute;
    right: -30px;
    top: 60px;
    background-color: rgba(215, 151, 113, 0.9);
}

.nav_container .nav_bar .menu_content a{
    border-bottom: white solid 2px;
    border-radius: 5px;
    padding: 10px;
    font-size: small;
    color: #391400;
    font-weight: 700;
}

.nav_container .nav_bar .menu_content a:hover{
    background-color: white;
}

@media screen and (max-width: 800px) {
    .nav_container .nav_bar a{
        display: none;
    }

    .nav_container .nav_bar .portfolio_box a,
    .nav_container .nav_bar .menu_bar, 
    .nav_container .nav_bar .menu_content a
    {
        display: flex;
    }
}

@media screen and (min-width: 801px) {
    .nav_container .nav_bar .menu_content
    {
        display: none !important;
    }
}

@media screen and (max-width: 550px) {
    .top_container .top_content{ 
        max-width: 90%;
    }

    .top_container .top_content p{ 
        font-size: calc(13px + 1vw);
    }
}

.second_container{
    display: flex;
    flex-direction: column;
    background-color: #F3D5C0; 
    padding-top: 20px;
}

.second_container .top_title{
    min-width: 80%;
    margin: auto;
    padding: 0px 10px 0px 10px;
}

.second_container .top_title h1{
    color: #391400;
    font-size: 40px;
    font-weight: 900;
}

.second_container .below_container{
    min-width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.second_container .below_container .left_box_picture{
    min-width: 300px;
    min-height: 400px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
}

.second_container .below_container .right_box_content{
    max-width: 450px;
    padding: 0px 10px 0px 10px;
}


.second_container .below_container .right_box_content h1,
.second_container .below_container .right_box_content h3,
.second_container .below_container .right_box_content p
{
    color: #391400;
}

.second_container .below_container .right_box_content p{
    font-size: 17px;
    text-align: justify;
}

.second_container .below_container .left_box_content{
    max-width: 450px;
    padding: 0px 10px;
    font-size: 17px;
}

.second_container .below_container .right_box_picture{
    min-width: 300px;
    min-height: 400px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
}

.second_container .below_container .left_box_content h1,
.second_container .below_container .left_box_content h3,
.second_container .below_container .left_box_content p
{
    color: #391400;
}

@media screen and (max-width:800px) {
    .second_container .below_container{
        flex-wrap: wrap;
    }

    .second_container .below_container.left_content_right_picture{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .second_container .below_container .left_box_content{
        padding-left: 10px;
        margin: auto;
    }
}


@media screen and (max-width:550px) {
    .second_container .below_container{
        width: 90%;
    }

    .second_container .below_container.left_content_right_picture{
        margin: 0px 0px 0px 10px;
        width: 90%;
    }

    .second_container .below_container .left_box_picture{
        min-width: 90%;
    }

    .second_container .below_container .left_box_picture img{
        max-width: 285px;
    }

    .second_container .below_container .left_box_content{
        padding-left: 0px;
        width: 90%;
    }

    .second_container .below_container .right_box_picture{
        padding: 0px;
        min-width: 90%;
    }

    .second_container .below_container .right_box_picture img{
        max-width: 285px;
    }
    
}
.footer_container{
    background-color: #506D84;
}

.footer_container .bottom_container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer_container .bottom_container .left_box{
    padding: 20px 20px;
}

.footer_container .bottom_container .left_box h4{
    color: rgba(255, 255, 255, 0.64);
    font-weight: 400;
    line-height: 32px;
}

.footer_container .bottom_container .right_box{
    padding: 20px 20px;
    display: flex;
    align-items: center;
}

.footer_container .bottom_container .right_box a{
    color:white;
    display: block;
    padding-bottom: 10px;
    font-size: large;
}

.footer_container .bottom_container .right_box .inside_box{
    display: flex;
}

.footer_container .bottom_container .right_box .inside_box .round{
    border-radius: 50%;
    height: 50px;
    min-width: 50px;
    background-color: #9C3D54;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: white;
    cursor: pointer;
}

.footer_container .bottom_container .right_box .inside_box .round:hover{
    box-shadow: 0px 0px 10px white;
}

.footer_container .bottom_container .right_box .inside_box .round i{
    padding-right: 0px;
    padding-bottom: 0px;
}

@media screen and (max-width: 800px) {
    .footer_container .bottom_container{
        flex-direction: column-reverse;
    }

    .footer_container .bottom_container .left_box{
        margin: auto;
        padding-top: 0px;
        text-align: center;
    }

    .footer_container .bottom_container .right_box{
        margin: auto;
        padding-bottom: 0px;
        padding-top: 50px;
    }
}