#container {
    background-color: #F1F1F1;
    max-width: 1024px; /*can smaller, but width up to 1024 only */
    margin: auto; /*horizontally center*/
  }
  
.header {
  text-align: center;
  padding: 20px;
  background-image: url("../images/background.jpg");
  background-size: 1085px 280px;
  /* background-size: cover; */
  /* background-size: contain; */
  background-repeat: no-repeat;
}

h1{
  color: black;
  margin-top: -20px;
}

/* The navbar container */
.topnav {
  display: flex;
  background-color: #333;
  /* flex-direction: row-reverse; */
  /* flex-wrap: wrap; */
  padding: 14px 16px;
  align-items: center;
  justify-content: space-between;
}

/* Navbar links */
.topnav a { /*not only the next generation, include next next next .....*/
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* width: 200px; */
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: underline;
}

/* .topnav .end{
  width: 69%;
  display: flex;
  flex-direction: row-reverse;
} */

/* .topnav .end{
  margin-left: 63%;
} */

.footer {
  padding: 10px;
  background-color: #F1F1F1;
  display: flex;
  justify-content: space-around;
}

.footer .column{
  width: 15%;
  background-color: lightblue;
  padding: 18px;
  border: 2px solid black;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .footer {
    flex-wrap: wrap;
  }

  .footer .column{
	  width: 35%;
    margin: 10px 0px;
  }
}

@media screen and (max-width: 480px) {
  .footer .column{
	  width: 100%;
  }
}

/*First resposive layout, three horizontally to become three vertically*/
.row {
  display: flex;
}

.column {
  width: 25%;
}

#column1 {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .row{
    flex-direction: column;
  }

  .column {
	width: 100%;
  }
}

/*Second resposive layout, three horizontally to become two horizontally*/
.row2 {
  display: flex;
}

.column2 {
  width: 25%;
}

#column12 {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .column2{
    width: 100%;
  }

  #column12 {
    display: none;
  }
}

/*Thrid resposive layout, three horizontally to become one horizontally*/
.row3 {
  display: flex;
}

.column3 {
  width: 25%;
}

#column13 {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .column3 {
    display: none;
  }

  #column13 {
    width: 100%;
  }
}

/*Responsive*/
/* Create three equal columns */
.row4 {
  display: flex;
}

.column4 {
  width: 33.33%;
}

@media screen and (max-width: 800px) {
  .row4 {
	flex-wrap: wrap;
  }
  .column4 {
	width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .column4 {
	width: 100%;
  }
}





  