body{
    margin: 0px;
    font-family: Epilogue;
}

a{
    font-size: 1.2vw;
    text-decoration: none;
    color: white;
}

.top_container{ 
    background-color: grey;
}

.top_container .content_container{ 
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 90%;
    padding: 20px 10px;
}

.top_container .content_container .left_box{ 
    max-width: 45%;
    display: flex;
    flex-direction: column;
}

.top_container .content_container .left_box h4{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EF6D58;
}

.top_container .content_container .left_box h1{
    font-style: normal;
    font-weight: 800;
    font-size: 5.3vw;
    line-height: 6vw;
    color: #391400;
    letter-spacing: -2px;
    margin: 10px 0px;
}

.top_container .content_container .left_box p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.64);
}

.top_container .content_container .left_box .btn{ 
    max-width: fit-content;
    border-radius: 5px;
    background-color: #9C3D54;
    padding: 20px 10px;  
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF; 
}

.top_container .content_container .right_box{ 
    max-width: 50%;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.top_container .content_container .right_box img{ 
    max-width: 500px;
    min-width: 250px;
}


.nav_container{
    position: sticky;
    top: 0;
    background-color: #506D84; 
    /* if not z-index below logo with upon it */
    z-index: 1; 
}

.nav_container .nav_bar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    align-items: center;
    background-color: #506D84; 
}

.nav_container .nav_bar .portfolio_box{
    display: flex;
    padding: 10px 0px;
}

.nav_container .nav_bar .portfolio_box h2{
    margin-top: 15px;
    padding-left: 15px;
    color: white;
    font-weight: 700;
    font-size: 30px;
}

.nav_container .nav_bar h4{
    border: rgba(255, 255, 255, 0.5) solid 1px;
    border-radius: 5px;
    padding: 10px 25px;
}

.nav_container .nav_bar .menu_bar{
    position: absolute;
    right: 10px;
    top: 20px;
    color: white;
    border: rgba(255, 255, 255, 0.5) solid 1px;
    border-radius: 5px;
    padding: 10px;
    display: none;
}

.nav_container .nav_bar .menu_content{
    display: none;
    flex-direction: column;
    padding: 10px;
    border: white solid 2px;
    border-radius: 5px;
    position: absolute;
    right: -30px;
    top: 60px;
    background-color: rgba(255, 200, 199, 0.8);
}

.nav_container .nav_bar .menu_content a{
    border-bottom: white solid 2px;
    border-radius: 5px;
    padding: 10px;
    font-size: small;
    color: #391400;
    font-weight: 700;
}

.nav_container .nav_bar .menu_content a:hover{
    background-color: #9C3D54;
}

@media screen and (max-width: 800px) {
    .top_container .content_container{ 
        flex-direction: column-reverse;
    }

    .top_container .content_container .left_box{ 
        max-width: 70%;
        margin: auto;
    }

    .top_container .content_container .left_box h1{
        font-size: 50px;
        line-height: 60px;
    }

    .top_container .content_container .right_box{ 
        max-width: 80%;
        margin: auto;
        padding-left: 0px; 
    }
    
    .nav_container .nav_bar a{
        display: none;
    }

    .nav_container .nav_bar .portfolio_box a,
    .nav_container .nav_bar .menu_bar, 
    .nav_container .nav_bar .menu_content a
    {
        display: flex;
    }
}

@media screen and (min-width: 801px) {
    .nav_container .nav_bar .menu_content
    {
        display: none !important;
    }
}

@media screen and (max-width: 480px) {
    .top_container .content_container .left_box{ 
        margin: 0px 10px;
        max-width: 90%;
    }

    .top_container .content_container .left_box h4{
        margin: 10px 0px 0px 0px;
    }

    .top_container .content_container .left_box h1{
        font-size: 11vw;
        line-height: 50px;
    }

    .top_container .content_container .right_box{ 
        margin: 0px 10px;
        max-width: 95%;
    }

    .top_container .content_container .left_box .btn{ 
        font-size: 12px;
    }
    
}


.footer_container{
    display: flex;
    flex-direction: column;
    background-color: #506D84;
}

.footer_container .above_container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    border-bottom: solid 1px #F3D5C0;
}

.footer_container .above_container .box{
    margin: 50px 0px;
    max-width: 25%;
}

.footer_container .above_container .box h2{
    font-weight: 700;
    color: white;
}

.footer_container .above_container .box h4{
    font-weight: 400;
    color: #EF6D58;
    font-size: 16px;
}

.footer_container .above_container .box a{
    color:  white;
    display: block;
    padding-bottom: 10px;
    font-weight: 400;
    line-height: 20px;
    font-size: 1.3vw;
}

.footer_container .above_container .box .inside_box{
    display: flex;
}

.footer_container .above_container .box .inside_box i{
    padding-right: 5px;
    padding-bottom: 5px;
    color:  white;
}

.footer_container .above_container .box .inside_box .round{
    border-radius: 50%;
    height: 50px;
    min-width: 50px;
    background-color: #9C3D54;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: white;
}

.footer_container .above_container .box .inside_box .round i{
    padding-right: 0px;
    padding-bottom: 0px;
}

.footer_container .below_container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    text-align: center;
}

.footer_container .below_container .left_box{
    padding-top: 30px;
    padding-bottom: 50px;
}

.footer_container .below_container .left_box h4{
    color: rgba(255, 255, 255, 0.64);
    font-weight: 400;
    line-height: 32px;
}

.footer_container .below_container .right_box{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 22%;
}

.footer_container .below_container .right_box h4{
    color:  white;
    font-weight: 400;
    line-height: 32px;
}

@media screen and (max-width: 720px) {
    .footer_container .above_container{
        flex-wrap: wrap;
    }

    .footer_container .above_container .box{
        min-width: 50%;
        margin: 20px 0px;
        text-align: center;
    }

    .footer_container .above_container .box h4{
        font-size: 15px;
    }
    
    .footer_container .above_container .box a{
        font-size: 15px;
    }

    .footer_container .below_container{
        flex-wrap: wrap;
    }

    .footer_container .below_container .left_box{
        padding-bottom: 10px;
        width: 100%;
    }

    .footer_container .below_container .right_box{
        width: 100%;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .footer_container .above_container .box .inside_box{
        max-width: fit-content;
        margin: auto;
    }
}

@media screen and (max-width: 450px) {
    .footer_container .above_container{
        flex-wrap: wrap;
    }

    .footer_container .above_container .box{
        min-width: 100%;
        text-align: center;
    }

    .footer_container .above_container .box .inside_box{
        margin: auto;
        width: fit-content;
    }

    .footer_container{
        text-align: center;
    }

}