body{
    margin: 0px;
    font-family: Epilogue;
}

a{
    font-size: 1.2vw;
    text-decoration: none;
    color: white;
}

.top_container{ 
    text-align: center;
    background-color: #F3D5C0; 
    align-items: center;
}

.top_container .top_content{ 
    margin: auto;
    max-width: 500px;
    text-align: left;
    padding: 50px 20px 0px 20px;
}

.top_container .top_content a{ 
    color: #391400;
    font-weight: 800;
    font-size: 20px
}

.top_container .top_content a:hover{ 
    font-size: 22px
}

.top_container .top_content h1{ 
    font-size: 60px;
    color: #391400;
    font-weight: 800;
    margin-top: 0px;
    padding-top: 50px;
}

.top_container .top_content h4{ 
    padding-bottom: 20px;
    color: #391400;
    margin-bottom: 0px;
    font-weight: 500;
}

.top_container .top_content p{ 
    text-align: justify;
    font-weight: 300;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.nav_container{
    position: sticky;
    top: 0;
    background-color: #889EAF; 
}

.nav_container .nav_bar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    align-items: center;
    background-color: #889EAF; 
}

.nav_container .nav_bar .portfolio_box{
    display: flex;
    padding: 10px 0px;
}

.nav_container .nav_bar .portfolio_box h2{
    margin-top: 15px;
    padding-left: 15px;
    color: white;
    font-weight: 700;
    font-size: 30px;
}

.nav_container .nav_bar .portfolio_box h2:hover {
    color: #391400;
}

.nav_container .nav_bar a{
    font-size:calc(9px + 0.5vw);
}
  
.nav_container .nav_bar a:hover{
    color: #391400;
}

.nav_container .nav_bar h4{
    border: rgba(255, 255, 255, 0.5) solid 1px;
    border-radius: 5px;
    padding: 10px 25px;
}

.nav_container .nav_bar h4:hover{
    background-color: #391400;
    color: white;
  }

.nav_container .nav_bar .menu_bar{
    position: absolute;
    right: 10px;
    top: 20px;
    color: white;
    border: rgba(255, 255, 255, 0.5) solid 1px;
    border-radius: 5px;
    padding: 10px;
    display: none;
}

.nav_container .nav_bar .menu_bar:hover{
    background-color:#391400;;
  }

.nav_container .nav_bar .menu_content{
    display: none;
    flex-direction: column;
    padding: 10px;
    border: white solid 2px;
    border-radius: 5px;
    position: absolute;
    right: -30px;
    top: 60px;
    background-color: rgba(255, 200, 199, 0.8);
}

.nav_container .nav_bar .menu_content a{
    border-bottom: white solid 2px;
    border-radius: 5px;
    padding: 10px;
    font-size: small;
    color: #391400;
    font-weight: 700;
}

.nav_container .nav_bar .menu_content a:hover{
    background-color: #9C3D54;
}

@media screen and (max-width: 800px) {
    .nav_container .nav_bar a{
        display: none;
    }

    .nav_container .nav_bar .portfolio_box a,
    .nav_container .nav_bar .menu_bar, 
    .nav_container .nav_bar .menu_content a
    {
        display: flex;
    }
}

@media screen and (min-width: 801px) {
    .nav_container .nav_bar .menu_content
    {
        display: none !important;
    }
}

.second_container{
    display: flex;
    flex-direction: column;
    background-color: #F3D5C0; 
    padding-top: 20px;
}

.second_container .top_title{
    min-width: 80%;
    margin: auto;
    padding: 0px 10px 0px 10px;
}

.second_container .top_title h1{
    color: #391400;
    font-size: 40px;
    font-weight: 900;
}

.second_container .below_container{
    min-width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.second_container .below_container .left_box_picture{
    min-width: 500px;
    display: flex;
    justify-content: center;
}

.second_container .below_container .right_box_content{
    max-width: 450px;
    padding: 0px 10px 0px 10px;
}


.second_container .below_container .right_box_content h1,
.second_container .below_container .right_box_content h3,
.second_container .below_container .right_box_content p
{
    color: #391400;
}


.second_container .below_container .left_box_content{
    max-width: 450px;
    padding-left: 60px;
}

.second_container .below_container .right_box_picture{
    min-width: 450px;
    display: flex;
    justify-content: center;
}

.second_container .below_container .left_box_content h1,
.second_container .below_container .left_box_content h3,
.second_container .below_container .left_box_content p
{
    color: #391400;
}

@media screen and (max-width:800px) {
    .second_container .below_container{
        flex-wrap: wrap;
    }

    .second_container .below_container.left_content_right_picture{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .second_container .below_container .left_box_content{
        padding-left: 10px;
    }
}


@media screen and (max-width:550px) {

    .second_container .below_container{
        width: 90%;
    }

    .second_container .below_container.left_content_right_picture{
        margin: 0px 0px 0px 10px;
        width: 90%;
    }

    .second_container .below_container .left_box_picture{
        min-width: 90%;
    }

    .second_container .below_container .left_box_picture img{
        max-width: 285px;
    }

    .second_container .below_container .left_box_content{
        padding-left: 20px;
        width: 90%;
    }

    .second_container .below_container .right_box_picture{
        min-width: 100%;
    }

    .second_container .below_container .right_box_picture img{
        max-width: 285px;
    }
    
}

.footer_container{
    display: flex;
    flex-direction: column;
    background-color: #D4B499;
}

.footer_container .above_container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    border-bottom: solid 1px #F3D5C0;
}

.footer_container .above_container .box{
    margin: 50px 0px;
    max-width: 25%;
}

.footer_container .above_container .box h2{
    font-weight: 700;
    color: #391400;
}

.footer_container .above_container .box h4{
    font-weight: 400;
  color: #ef6d58;
  font-size: 16px;
}

.footer_container .above_container .box a{
    color:  #391400;
    display: block;
    padding-bottom: 10px;
    font-weight: 500;
    line-height: 20px;
    font-size: calc(4px + 1.0vw);
}

.footer_container .above_container .box a:hover{
    color: white;
    font-weight: 400;
}

.footer_container .above_container .box .inside_box{
    display: flex;
}

.footer_container .above_container .box .inside_box i{
    padding-right: 5px;
    padding-bottom: 5px;
    color:  #391400;
}

.footer_container .above_container .box .inside_box .round{
    border-radius: 50%;
    height: 50px;
    min-width: 50px;
    background-color: #9C3D54;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #391400;
    cursor: pointer;
}

.footer_container .above_container .box .inside_box .round:hover{
    box-shadow: 3px 3px 10px #391400;
}

.footer_container .above_container .box .inside_box .round i{
    padding-right: 0px;
    padding-bottom: 0px;
}

.footer_container .below_container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    text-align: center;
}

.footer_container .below_container .left_box{
    padding-top: 30px;
    padding-bottom: 50px;
}

.footer_container .below_container .left_box h4{
    color: rgba(57, 20, 0, 0.64);
    font-weight: 400;
    line-height: 32px;;
}

.footer_container .below_container .right_box{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 300px;
}

.footer_container .below_container .right_box h4{
    color: rgba(57, 20, 0, 0.64);
    font-weight: 400;
    line-height: 32px;
    padding-left: 20px;
}

@media screen and (max-width: 720px) {
    .footer_container .above_container{
        flex-wrap: wrap;
    }

    .footer_container .above_container .box{
        min-width: 50%;
        margin: 20px 0px;
        text-align: center;
    }

    .footer_container .above_container .box h4{
        font-size: 15px;
    }
    
    .footer_container .above_container .box a{
        font-size: 15px;
    }

    .footer_container .below_container{
        flex-wrap: wrap;
    }

    .footer_container .below_container .left_box{
        padding-bottom: 10px;
        width: 100%;
    }

    .footer_container .below_container .right_box{
        width: 100%;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .footer_container .above_container .box .inside_box{
        max-width: fit-content;
        margin: auto;
    }
}

@media screen and (max-width: 450px) {
    .footer_container .above_container{
        flex-wrap: wrap;
    }

    .footer_container .above_container .box{
        min-width: 100%;
        text-align: center;
    }

    .footer_container .above_container .box .inside_box{
        margin: auto;
        width: fit-content;
    }

    .footer_container{
        text-align: center;
    }

}