:root{
    --bg-btn-green: rgba(81, 146, 89, 0.9);
}


.image-fill-black{
    filter: brightness(70%); 
}

.slidetshow-fixed-heigh{
    min-height: 500px;
}

.slideshow-content-position{
    top: 0;
    left: 0;
}

.slideshow-content-header{
    font-size: 80px;
    font-weight: 600;
}

.slideshow-content-paragraph{
    font-size: calc(1.325rem + .9vw);
}

.bg-btn-green{
    background-color: var(--bg-btn-green) !important;
}

.bg-triangle{
    background-image: url(../images/bg-green-triangle.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.padding-image-top{
    padding-top: 100px;
    padding-bottom: 100px;
}

.content_body{
    padding: 100px 0px;
}

.bg-triangle h1{
    font-size: calc(18px + 1vw);
}

.bg-triangle h2{
    font-size: calc(10px + 1vw);
}

.decoration{
    position: absolute;
    top: 0px;
    right: 0px;
}

@media screen and (max-width: 768px) {
    .slideshow-content-header{
        font-size: calc(20px + 6vw);
    }

    .slideshow-content-paragraph{
        font-size: calc(20px);
    }

    .content_body{
        padding: 20px 0px;
    }

}
