:root{
    --bg-green: #064635;
    --bg-mobile-dropdown-yellow: #F4EEA9;
    --bg-dropdown-yellow: rgba(244, 238, 169, 1);
    --bg-dropdown-green: rgba(81, 146, 89, 0.3);
}

*{
    font-family: 'Edu SA Beginner', cursive;
    font-weight: 500;
}

.nav-link.active{
    font-weight: 700;
}

.nav-link:hover{
    font-weight: 700;
}

.bg-top-nav-green{
    background-color: var(--bg-green);
}

.bg-dropdown-yellow-green{
    background-color: var(--bg-dropdown-yellow) !important; 
}

.bg-mobile-dropdown-green-yellow{
    background-color: var(--bg-green)!important; 
}

.bg-dropdown-yellow-width{
    width: 230px !important; 
}

.fs-top-nav-vm{
    font-size: 18px !important;
}

.text-light-lg{
    color: white !important;
}

@media screen and (max-width: 767px) {
    .bg-dropdown-yellow-green{
        background-color: var(--bg-dropdown-green) !important; 
        margin-left: 20px !important;
        max-width: 300px !important;
    }

    .bg-mobile-dropdown-green-yellow{
        background-color: var(--bg-mobile-dropdown-yellow) !important; 
    }

    .bg-dropdown-yellow-width{
        width: 280px !important;
    }

    .text-dark-md{
        color: black !important;
    }

    .text-dark-md:hover{
        font-weight: 700 !important;
    }
}
