*{
    color: rgba(72,72,72,255);
}

body{
    margin: 0px;
    overflow-x: hidden;
}

.first_container{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 0px 0px;
    position: relative;
    max-height: 540px;
}

.container .left_container{
    /* need to change width and height*/
    width: 50%;
}

.container .left_container .top_bar{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.container .left_container .top_bar h1{
    padding-left: 10px;
    padding-top: 15px;
    margin-bottom: -15px;
}

.container .left_container .inside_box{
    display: flex;
    justify-content: space-between;
}

.container .left_container .inside_box .left_nav_bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding-top: 200px;
    margin-left: 30px;
    
}

.container .left_container .inside_box .left_nav_bar a{
    min-width: 20px;
    padding: 20px;
}

.container .left_container .inside_box .left_nav_bar img{
    width: 80%;
}

.container .left_container .inside_box .left_nav_bar img:hover{
    box-shadow: 0px 0px 10px darkblue;
}

.container .left_container .inside_box .left_nav_bar .small-right-border{
    width: 2px;
    height: 30px;
    border-left: 2px solid rgba(26,17,158,255);
    margin: auto;
}

.container .left_container .inside_box .right_inside_container{
    /* position: absolute;
    top: 200px;
    left: 155px; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60vw;
    padding-left: 5%;
}

.container .left_container .inside_box .upon_image{
    display: none;
}

.container .left_container .inside_box .right_inside_container .right_box{
    width: 84%
}

.container .left_container .inside_box .right_inside_container .right_box h1#above_font_type{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
}


.container .left_container .inside_box .right_inside_container .right_box h1 span{
    font-family: 'Lato', sans-serif;
    font-size: 5vw;
    margin: -38px -0px;
}

.container .left_container .inside_box .right_inside_container .right_box .paragrah_box{
    margin-top: 10px;
    width: 50%;
}

.container .left_container .inside_box .right_inside_container .right_box .paragrah_box p{
    font-family: 'Lato', sans-serif;
    color: darkgray;
    font-size: 1vw;
    font-weight: 400;
}

.container .left_container .inside_box .right_inside_container .right_box .btn_box_container{
    width: 29%;
    min-height: 100%;
}

.container .left_container .inside_box .right_inside_container .right_box .btn_box_container .btn_box{
    font-family: 'Lato', sans-serif;
    padding: 7px 10px 0px 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 50px;
    background-color: rgba(50,42,189,255);
}

.container .left_container .inside_box .right_inside_container .right_box .btn_box_container .btn_box a{
    text-decoration: none;
}

.container .left_container .inside_box .right_inside_container .right_box .btn_box_container .btn_box a h4{
    margin-top: 6px;
    margin-bottom: 15px;
    color: white;
    text-decoration: none;
    font-size: 1vw;
}

.container .left_container .inside_box .right_inside_container .right_box .btn_box_container .btn_box:hover{
    box-shadow: 0px 10px 20px lightblue;
}


.container .right_container{
    /* need to change width and height*/
    width: 600px;
    height: 680px; 
    background-image: url("../images/Bg_Shape@2x.png");
    background-size: 100% 90%;
    background-repeat: no-repeat;
}

.container .right_container .top_nav{
    text-align: center;
    padding: 50px;
}

.container .right_container .top_nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    font-size: 1.5vw;
}

.container .right_container .top_nav a:hover{
    text-decoration: underline;
    color: lightgray;
}

.container .right_container .top_nav_mobile_box{
    position: absolute;
    right: 10px;
    top: 45px;
    width: fit-content;
    display: none;
    font-size: 20px
}

.container .right_container .top_nav_mobile_box .icon{
    color: white;
}

.container .right_container .top_nav_mobile_box .top_nav_mobile{
    width: 45%;
    padding: 15px;
    margin-right: 18px;
}

.container .right_container .top_nav_mobile_box .top_nav_mobile .icon{
    color: white;
}


.container .right_container .top_nav_mobile_box .top_nav_mobile i:hover{
    box-shadow: 1px 1px 10px white;
}

.container .right_container .top_nav_mobile_box .top_nav_mobile #nav_content{
    position: absolute;
    top: 40px;
    right: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;

    display: none;
    z-index: 2;
}

.container .right_container .top_nav_mobile_box .top_nav_mobile #nav_content a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: lightblue;
}

.container .right_container .top_nav_mobile_box .top_nav_mobile #nav_content a:hover{
    background-color: lightgray;
}

.container .right_container .bg_img{
    width: 100%;
    display: flex;
    justify-content: center;
}

.mouse_box{
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 60%;
    box-shadow: 2px 10px 20px lightgray;
    width: fit-content;
    margin-bottom: 20px;
}

@media screen and (max-width: 920px) {
    .container .mouse_box{
        left: 380px;
        top: 80%;
    }

    .container .right_container .top_nav{
        padding: 50px 5px;
    }

    .container .right_container img{
        padding-left: 0px;
    }

    .container .left_container .inside_box .left_nav_bar img{
        width: 70%;
    }

    .container .left_container .inside_box .right_inside_container .right_box .paragrah_box p{
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 800px) {
    .container .right_container .bg_img img{
        display: none;
    }

    .container .left_container .inside_box .right_inside_container{
        flex-direction: column;
        min-width: 600px;
    }

    .container .left_container .inside_box .right_inside_container .upon_image{
        display: flex;
        min-width: 100px;
        z-index: 1;
    }

    .mouse_box{
        margin-top: 50px;
    }
}

@media screen and (max-width: 650px) {
    .container .right_container .top_nav_mobile_box{
        display: flex;
    }

    .container .right_container .top_nav{
        display: none;
    }

    .container .right_container{
        background-image: url("../images/Bg_Shape@2x.png");
    }

    .container{
        background-image: url("../images/Bg_Shape@2x.png");
        background-size: 100% 90%;
        background-repeat: no-repeat;
    }

    .container .left_container .top_bar h1{
        z-index: 1;
        color: white;
    }

    .container .left_container .inside_box .right_inside_container .right_box .paragrah_box{
        width: 40%;
    }
}


@media screen and (max-width: 480px) {
    .container .left_container .inside_box .right_inside_container .upon_image img{
        min-width: 100%;
    }

    .container .left_container .inside_box .right_inside_container{
        min-width: 98%;
    }

    .container .left_container {
        width: 70%;
    }

    .container .right_container {
        max-width: 0px
    }

    .container{
        background-size: 100% 70%
    }
}

.second_container{
    display: flex;
    justify-content: space-between;
    margin: 0px 0px;
}

.second_container .left_container{
    width: 45%;
}

.second_container .left_container .bg_img img{
    margin-left: 40px;
}

.second_container .right_container{
    width: 55%;
    background-image: url("../images/second-container-right-bg-img.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second_container .right_container .right_container_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75%;
}

.second_container .right_container .right_container_content h4{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: rgba(148,143,225,255);
    margin: 0px ;
}

.second_container .right_container .right_container_content h1{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 4vw;
    margin-bottom: 18px;
    margin-top: 18px;
}

.second_container .right_container .right_container_content p{
    margin: 0px;
}

.second_container .right_container .right_container_content .btn-box{
    background-image: url("../images/Rectangle_8@2x.png");
    background-repeat: no-repeat;
    padding: 10px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20%;
    border-radius: 50px;
    margin-top: 20px;
}


.second_container .right_container .right_container_content .btn-box a{
    text-decoration: none;
}

.second_container .right_container .right_container_content .btn-box a h6{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-top: 6px;
    margin-bottom: 15px;
    color: white;
    text-decoration: none;
}

@media screen and (max-width:480px) {
    .second_container .left_container{
        display: none;
    }

    .second_container .right_container{
        width: 100%;
        background-image: url("../images/second-container-right-bg-img.png"), url("../images/second-container_bg_img.png");
        background-size: cover, 27%;
        background-repeat: no-repeat,no-repeat;
        background-position: right top;
    }

    .second_container .right_container .right_container_content{
        width: 65%;
        margin-left: -60px;
    }

    .second_container .right_container .right_container_content .btn-box{
        width: 30%;
    }
}

.thrid_container{
    display: flex;
    flex-direction: column;
    max-width: 120%;
    margin: auto;
    margin: 0px 0px;
}

.thrid_container .above_box{
    padding: 50px;
}

.thrid_container .above_box h4{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: rgba(148,143,225,255);
    margin: 0px ;
}

.thrid_container .above_box h1{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 4vw;
    margin-bottom: 18px;
    margin-top: 0px;
}

.thrid_container .below_container{
    width: 100%;
    height: 100%;
    background-image: url("../images/thrid_container_bg_img.png");
    margin: auto;
}

.thrid_container .below_container .inside_container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.thrid_container .below_container .inside_container .box{
    background-color: white;
    width: 24%;
    padding: 20px;
    box-shadow: 0px 5px 10px lightgray;
    border-radius: 10px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width : 850px) {
    .thrid_container .below_container .inside_container .box{
        width: 40%;
    }
}

@media screen and (max-width : 480px) {
    .thrid_container .below_container .inside_container .box{
        width: 90%;
    }
}

.thrid_container .below_container .inside_container .box img{
    margin: auto;
    margin-top: 9px;
    margin-bottom: 18px;
}

.thrid_container .below_container .inside_container .box h5{
    font-family: 'Lato', sans-serif;
    font-weight: 900; 
    margin-top: 20px ;
}

.thrid_container .below_container .inside_container .box .btn_box_container{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    height: 100%;
}

.thrid_container .below_container .inside_container .box .btn_box_container .btn-box{
    background-image: url("../images/Rectangle_8@2x.png");
    background-repeat: no-repeat;
    padding: 10px 10px 0px 10px;
    display: flex;
    margin-left: 160px;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    border-radius: 50px;
    margin-top: 0px;
}

.thrid_container .below_container .inside_container .box .btn_box_container .btn-box a{
    text-decoration: none;
}

.thrid_container .below_container .inside_container .box .btn_box_container .btn-box a h6{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-top: 6px;
    margin-bottom: 15px;
    color: white;
    text-decoration: none;
}

.four_container{
    display: flex;
    flex-direction: column;
    background-color: rgba(236,234,255,255);
    margin: 0px 0px;
}

.four_container .above_container{
    text-align: center;
}

.four_container .above_container h4{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: rgba(148,143,225,255);
    margin: 0px ;
    margin-top: 40px;
}

.four_container .above_container h1{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 4vw;
    margin-bottom: 18px;
    margin-top: 0px;
}

.four_container .below_container{
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.four_container .below_container .below_box{
    min-width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    margin: 30px 20px;
}

.four_container .below_container .below_box h3{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 40px;
}

.four_container .below_container .below_box p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1vw;
    color: rgba(150,155,170,255);
    margin: 10px;
}

.four_container .below_container .below_box h2{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin: 20px;
    color: rgba(18,5,224,255);
}

.four_container .below_container .below_box .btn_box_container{
    display: flex;
    justify-content: center;
    height: 100%;
}

.four_container .below_container .below_box .btn_box_container .btn-box.active{
    background-image: url("../images/Rectangle_8@2x.png");
    background-repeat: no-repeat;
    padding: 10px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 50px;
    margin: 10px 0px 40px 0px;
}

.four_container .below_container .below_box .btn_box_container .btn-box.non_active{
    padding: 10px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    border: 1px black solid;
    border-radius: 50px;
    margin: 10px 0px 40px 0px;
}

.four_container .below_container .below_box .btn_box_container .btn-box a{
    text-decoration: none;
}

.four_container .below_container .below_box .btn_box_container .btn-box a h6{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-top: 6px;
    margin-bottom: 15px;
    color: white;
    text-decoration: none;
}


.four_container .below_container .below_box .btn_box_container .btn-box.non_active a h6{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-top: 6px;
    margin-bottom: 15px;
    color: black;
    text-decoration: none;
}

.four_container .footer_dot_contaier{
    text-align: center;
    padding: 20px;
}

.four_container .footer_dot_contaier .footer_dot{
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.four_container .footer_dot_contaier .footer_dot:hover {
    height: 15px;
    width: 15px;
    background-color: #717171;
}

@media screen and (max-width :  850px) {
    .four_container .below_container{
        flex-wrap: wrap;
    }

    .four_container .below_container .below_box{
        width: 45%;
        margin: 30px 5px;
    }

    .four_container .below_container .below_box p{
        font-size: 2vw;
    }
}

@media screen and (max-width :  480px) {
    .four_container .below_container .below_box{
        width: 100%;
        margin: 30px 10px;
    }

    .four_container .below_container .below_box p{
        font-size: 3vw;
    }
}

.fifth_container{
    /* position: relative; */
    background-image: url("../images/Bg_Shape_footer_2@2x.png"), url("../images/Bg_Shape_footer_1@2x.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 2100px 2000px, 3800px 3200px;
    /* background-position: 80% 18%, 123% 30%; */
    background-position: -350px -405px, -1783px -870px;
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
}

.fifth_container .above_container{
    height: 150px;
}

.fifth_container .above_container .above_inside_container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
}

.fifth_container .above_container .above_inside_container h4{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: rgba(148,143,225,255);
    margin: 0px ;
    margin-top: 40px;
}

.fifth_container .above_container .above_inside_container h5{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2vw;
    margin-bottom: 0px;
    margin-top: 0px;
}

.fifth_container .above_container .above_inside_container h5 span{
    font-weight: 900;
}

.fifth_container .above_container .below_inside_container{
    display: flex;
    justify-content: center;
}

.fifth_container .above_container .below_inside_container form input[type=text]{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    width: 350px;
    height: 35px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(246,247,251,255);
    padding: 7px 15px;
}

.fifth_container .above_container .below_inside_container form input[type=submit]{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 30px;
    width: 100px;
    height: 35px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(50,42,189,255);
    color: white;
    cursor: pointer;
    
}

.fifth_container .below_container{
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    padding-bottom: 50px;
    /* background-color: rgba(66,55,209,255); */
}


.fifth_container .below_container .inside_left_container{
    min-width: 25%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 200px;
}

.fifth_container .below_container .inside_left_container .first_box{
    width: 100%;
    padding: 20px;
}

.fifth_container .below_container .inside_left_container .first_box h3{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 33px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: white;
}

.fifth_container .below_container .inside_left_container .first_box .icon_box{
    display: block;
}

.fifth_container .below_container .inside_left_container .first_box .icon_box span{
    padding: 10px;
}


.fifth_container .below_container .inside_right_container{
    min-width: 60%;
    display: flex;
    justify-content: space-between;
}

.fifth_container .below_container .inside_right_container .box{
    padding: 55px 20px 0px 20px;
    margin-top: 200px;
}


.fifth_container .below_container .inside_right_container .box h4{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    color: white;
}

.fifth_container .below_container .inside_right_container .box .a_container{
    display: flex;
    flex-direction: column;
    width: 100%
}

.fifth_container .below_container .inside_right_container .box .p_container{
    display: flex;
    flex-direction: column;
    width: 100%
}

.fifth_container .below_container .inside_right_container .box .a_container a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 5px;
    color: white;
    min-width: fit-content;
}

.fifth_container .below_container .inside_right_container .box .a_container a img{
   padding-right: 10px;
}


.fifth_container .below_container .inside_right_container .box p{
    text-decoration: none;
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: white;
    margin-top: -8px;
    min-width: 16%;
}


@media screen and (max-width:  850px) {
    .fifth_container{
        background-image: url("../images/Bg_Shape_footer_2@2x.png"), url("../images/Bg_Shape_footer_1@2x.png");
        background-repeat: no-repeat, no-repeat;
        background-size: 1500px 1200px, 1800px 1800px;
        background-position: -350px -135px, -833px -380px;
    }

    .fifth_container .below_container .inside_left_container .first_box{
        display: flex;
    }

    .fifth_container .below_container .inside_left_container .first_box .icon_box span{
        display: block;
    }

    .fifth_container .below_container .inside_left_container .first_box h3{
        font-size: 3vw;
    }

    .fifth_container .below_container .inside_right_container{
        display: flex;
        flex-direction: column;     
        justify-content: center;   
        margin-top: 180px;
    }

    .fifth_container .above_container .below_inside_container form{
        width: 100%;
        text-align: center;
    }

    .fifth_container .above_container .below_inside_container form input[type=text]{
        margin-top: 20px;
        border: 10px;
        width: 80%;
    }

    .fifth_container .above_container .below_inside_container form input[type=submit]{
        margin-top: 5px;
        margin-bottom: 50px;
    }

    .fifth_container .below_container .inside_right_container .box{
        margin: 0px 0px;
        padding-top: 0px;
    }

    .fifth_container .below_container .inside_right_container .box h4{
        margin-bottom: 5px;
    }
    
    .fifth_container .below_container .inside_right_container .box .a_container{
        display: flex;
        flex-direction: row;
    }

    .fifth_container .below_container .inside_right_container .box .p_container{
        display: flex;
        flex-direction: row;
    }

    .fifth_container .below_container .inside_right_container .box .a_container a{
        padding: 5px 15px 15px 0px;
        width: 100%;
        font-size: 2vw;
    }

    .fifth_container .below_container .inside_right_container .box .p_container p{
        margin-top: 5px;
        font-size: 2vw;
        padding: 0px 15px 15px 0px;
    }
}

@media screen and (max-width:480px) {
    .fifth_container{
        background-image: url("../images/Bg_Shape_footer_2@2x.png"), url("../images/Bg_Shape_footer_1@2x.png");
        background-repeat: no-repeat, no-repeat;
        background-size: 1500px 1200px, 1800px 1800px;
        background-position: -350px -115px, -850px -350px;
    }

    .fifth_container .above_container .above_inside_container h4{
        font-size: 3vw;
    }
    
    .fifth_container .above_container .above_inside_container h5{
        font-size: 3vw;
    }


    .fifth_container .above_container .below_inside_container form input[type=text]{
        margin-top: 20px;
        border: 10px;
        width: 80%;
    }
    
    .fifth_container .above_container .below_inside_container form input[type=submit]{
        margin-top: 20px;
    }

    .fifth_container .below_container{
        padding: 10px;
        display: block;
    }

    .fifth_container .below_container .inside_left_container .first_box{
        text-align: left;
        display: block;
        padding-bottom: 0px;
    }

    .fifth_container .below_container .inside_left_container .first_box h3{
        padding: 30px;
        font-size: 3vw;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .fifth_container .below_container .inside_left_container .first_box .icon_box{
        display: flex;
    }

    .fifth_container .below_container .inside_right_container{  
        margin-top: 5px;
    }

    .fifth_container .below_container .inside_left_container{
        margin-top: 100px;
    }

    .fifth_container .below_container .inside_right_container .box{
        width: 90%;
    }

    .fifth_container .below_container .inside_right_container .box .p_container p{
        min-width: 30px;
        font-size: 2vw;
        padding-right: 15px;
        margin-bottom: 0px;
    }

    .fifth_container .below_container .inside_right_container .box .a_container{
        min-width: fit-content;
    }

    .fifth_container .below_container .inside_right_container .box .p_container{
        min-width: 90%;
        display: flex;
        flex-wrap: wrap;
    }

    .fifth_container .below_container .inside_right_container .box .a_container a.quick_links{
        min-width: 50px;
        font-size: 2.5vw;
    }

    .fifth_container .below_container .inside_right_container .box .a_container a{
        min-width: 30%;
        font-size: 1.5vw;
        padding-right: 5px;
        display: flex;
        align-items: center;
    }

    .fifth_container .below_container .inside_right_container .box h4{
        margin-top: 5px;

    }
}