*{
    color: rgba(72,72,72,255);
}

.container{
    display: flex;
    justify-content: space-between;
    margin: -10px -15px;
    position: relative;
}

.container .left_container{
    /* need to change width and height*/
    width: 50%;
}

.container .left_container .top_bar{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.container .left_container .top_bar h1{
    padding-left: 10px;
    padding-top: 15px;
    margin-bottom: -15px;
}

.container .left_container .inside_box{
    display: flex;
    justify-content: space-between;
}

.container .left_container .inside_box .left_nav_bar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 20%;
    padding-top: 250px;
}

.container .left_container .inside_box .left_nav_bar a{
    padding: 10px;
}

.container .left_container .inside_box .left_nav_bar img{
    width: 45%;
}

.container .left_container .inside_box .left_nav_bar img:hover{
    box-shadow: 0px 0px 10px darkblue;
}

.container .left_container .inside_box .left_nav_bar .small-right-border{
    width: 18%;
    height: 30px;
    border-left: 2px solid rgba(26,17,158,255)
}

.container .left_container .inside_box .right_inside_container{
    position: absolute;
    top: 200px;
    left: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
}

.container .left_container .inside_box .right_inside_container .right_box{
    width: 84%
}

.container .left_container .inside_box .right_inside_container .right_box h1#above_font_type{
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
}

.container .left_container .inside_box .right_inside_container .right_box h1#below_font_type{
    font-family: 'Lato', sans-serif;
    font-size: 5vw;
    margin: -38px -0px;
}

.container .left_container .inside_box .right_inside_container .right_box .paragrah_box{
    margin-top: 55px;
    width: 50%;
}

.container .left_container .inside_box .right_inside_container .right_box .paragrah_box p{
    font-family: 'Lato', sans-serif;
    color: darkgray;
    font-size: 1vw;
    font-weight: 400;
}

.container .left_container .inside_box .right_inside_container .right_box .btn_box{
    background-image: url("../images/Rectangle_8@2x.png");
    background-repeat: no-repeat;
    padding: 10px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29%;
    border-radius: 50px;
}

.container .left_container .inside_box .right_inside_container .right_box .btn_box a{
    text-decoration: none;
}

.container .left_container .inside_box .right_inside_container .right_box .btn_box a h4{
    margin-top: 6px;
    margin-bottom: 15px;
    color: white;
    text-decoration: none;
}

.container .left_container .inside_box .right_inside_container .right_box .btn_box:hover{
    box-shadow: 0px 10px 20px lightblue;
}


.container .right_container{
    /* need to change width and height*/
    width: 50%;
    height: 617px; 
    background-image: url("../images/Bg_Shape@2x.png");
    background-size: 100% 90%;
    background-repeat: no-repeat;
}

.container .right_container .top_nav{
    text-align: center;
    padding: 50px;
}

.container .right_container .top_nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 10px;
}

.container .right_container .top_nav a:hover{
    text-decoration: underline;
    color: lightgray;
}


.container .right_container img{
    padding-left: 100px;
}

.container .mouse_box{
    display: flex;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 520px;
    left: 630px;
    padding: 10px;
    border-radius: 60%;
    box-shadow: 2px 10px 20px lightgray;
}

.second_container{
    display: flex;
    justify-content: space-between;
}

.second_container .left_container{
    width: 45%;
}

.second_container .left_container .bg_img{
    margin: auto;
}

.second_container .right_container{
    width: 60%;
    background-image: url("../images/second-container-right-bg-img.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second_container .right_container .right_container_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75%;
}

.second_container .right_container .right_container_content h4{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: rgba(148,143,225,255);
    margin: 0px ;
}

.second_container .right_container .right_container_content h1{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 4vw;
    margin-bottom: 18px;
    margin-top: 18px;
}

.second_container .right_container .right_container_content p{
    margin: 0px;
}

.second_container .right_container .right_container_content .btn-box{
    background-image: url("../images/Rectangle_8@2x.png");
    background-repeat: no-repeat;
    padding: 10px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-radius: 50px;
    margin-top: 20px;
}


.second_container .right_container .right_container_content .btn-box a{
    text-decoration: none;
}

.second_container .right_container .right_container_content .btn-box a h6{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-top: 6px;
    margin-bottom: 15px;
    color: white;
    text-decoration: none;
}

.thrid_container{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: auto;
}

.thrid_container .above_box{
    padding: 50px;
}

.thrid_container .above_box h4{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: rgba(148,143,225,255);
    margin: 0px ;
}

.thrid_container .above_box h1{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 4vw;
    margin-bottom: 18px;
    margin-top: 0px;
}

.thrid_container .below_container{
    height: 1000px;
    background-image: url("../images/thrid_container_bg_img.png");
    
}

.thrid_container .below_container .inside_container{
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.thrid_container .below_container .inside_container .box{
    background-color: white;
    width: 24%;
    padding: 20px;
    box-shadow: 0px 5px 10px lightgray;
    border-radius: 10px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.thrid_container .below_container .inside_container .box img{
    margin: auto;
    margin-top: 9px;
    margin-bottom: 18px;
}

.thrid_container .below_container .inside_container .box h5{
    font-family: 'Lato', sans-serif;
    font-weight: 900; 
    margin-top: 20px ;
}

.thrid_container .below_container .inside_container .box .btn_box_container{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    height: 100%;
}

.thrid_container .below_container .inside_container .box .btn_box_container .btn-box{
    background-image: url("../images/Rectangle_8@2x.png");
    background-repeat: no-repeat;
    padding: 10px 10px 0px 10px;
    display: flex;
    margin-left: 160px;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 50px;
    margin-top: 0px;
}

.thrid_container .below_container .inside_container .box .btn_box_container .btn-box a{
    text-decoration: none;
}

.thrid_container .below_container .inside_container .box .btn_box_container .btn-box a h6{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-top: 6px;
    margin-bottom: 15px;
    color: white;
    text-decoration: none;
}

.four_container{
    display: flex;
    flex-direction: column;
    background-color: rgba(236,234,255,255);
}

.four_container .above_container{
    text-align: center;
}

.four_container .above_container h4{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: rgba(148,143,225,255);
    margin: 0px ;
    margin-top: 40px;
}

.four_container .above_container h1{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 4vw;
    margin-bottom: 18px;
    margin-top: 0px;
}

.four_container .below_container{
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.four_container .below_container .below_box{
    max-width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    margin: 30px 60px;
}

.four_container .below_container .below_box h3{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 40px;
}

.four_container .below_container .below_box p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1vw;
    color: rgba(150,155,170,255);
    margin: 10px;
}

.four_container .below_container .below_box h2{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin: 20px;
    color: rgba(18,5,224,255);
}

.four_container .below_container .below_box .btn_box_container{
    display: flex;
    justify-content: center;
    height: 100%;
}

.four_container .below_container .below_box .btn_box_container .btn-box.active{
    background-image: url("../images/Rectangle_8@2x.png");
    background-repeat: no-repeat;
    padding: 10px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 50px;
    margin: 10px 0px 40px 0px;
}

.four_container .below_container .below_box .btn_box_container .btn-box.non_active{
    padding: 10px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    border: 1px black solid;
    border-radius: 50px;
    margin: 10px 0px 40px 0px;
}

.four_container .below_container .below_box .btn_box_container .btn-box a{
    text-decoration: none;
}

.four_container .below_container .below_box .btn_box_container .btn-box a h6{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-top: 6px;
    margin-bottom: 15px;
    color: white;
    text-decoration: none;
}


.four_container .below_container .below_box .btn_box_container .btn-box.non_active a h6{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-top: 6px;
    margin-bottom: 15px;
    color: black;
    text-decoration: none;
}

.four_container .footer_dot_contaier{
    text-align: center;
    padding: 20px;
}

.four_container .footer_dot_contaier .footer_dot{
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.four_container .footer_dot_contaier .footer_dot:hover {
    height: 15px;
    width: 15px;
    background-color: #717171;
}

.fifth_container{
    display: flex;
    flex-direction: column;
}

.fifth_container .above_container{
    height: 227px;
}

.fifth_container .above_container .above_inside_container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
}

.fifth_container .above_container .above_inside_container h4{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: rgba(148,143,225,255);
    margin: 0px ;
    margin-top: 40px;
}

.fifth_container .above_container .above_inside_container h5{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2vw;
    margin-bottom: 0px;
    margin-top: 0px;
}

.fifth_container .above_container .above_inside_container h5 span{
    font-weight: 900;
}

.fifth_container .above_container .below_inside_container{
    display: flex;
    justify-content: center;
}

.fifth_container .above_container .below_inside_container form input[type=text]{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    width: 350px;
    height: 35px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(246,247,251,255);
    padding: 7px 15px;
}

.fifth_container .above_container .below_inside_container form input[type=submit]{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 30px;
    width: 100px;
    height: 35px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(50,42,189,255);
    color: white;
    cursor: pointer;
}

.fifth_container .below_container{
    height: 390px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(66,55,209,255);
}

.fifth_container .below_container .inside_container{
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.fifth_container .below_container .inside_container .first_box{
    min-width: 300px;
    padding: 20px;
}

.fifth_container .below_container .inside_container .first_box h3{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2vw;
    margin-bottom: 10px;
}

.fifth_container .below_container .inside_container .first_box span{
    padding: 10px
}

.fifth_container .below_container .inside_container .first_box span#fb-rotate img{
    transform: rotate(270deg);
}

.fifth_container .below_container .inside_container .first_box span#gg-rotate img{
    transform: rotate(270deg);
}
